.font-weight-light {
    font-weight: 100 !important;
}

.carousel-indicators .active li {
    background-color: black;
}


.site-heading {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 200;

    font-family: 'Open Sans',
        sans-serif;
}

.site-heading-upper {
    display: block;
    font-size: 3rem;
    color: orange;
    font-weight: 200;
    font-family: 'PT Sans Narrow',
        sans-serif;

}


.site-heading .site-heading-lower {
    font-size: 5rem;
    font-weight: 100;
    line-height: 4rem;
    color: black;
    font-family: 'PT Sans Narrow',
        sans-serif;

}

h1,
h2,
h3,
h4,
p {
    font-family: 'PT Sans Narrow',
        sans-serif;

}

.title-cards {
    font-size: 2.5rem;
}

.sized {
    height: auto;
    width: 100%;
    margin: 10px;
}

/* ++++++ */
/* Projects Page */
/* ++++++ */

.project-space {
    margin: 60px 0 30px 0;
}

/* ++++++ */