.font-weight-light {
    font-weight: 100 !important;
}

.carousel-indicators .active li {
    background-color: black;
}

.nav-text {
    font-size: 25px;
    text-decoration: none;
    color: rosybrown;
}


li a {
    text-decoration: none;
}

.site-heading {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1;
    font-family: 'Open Sans',
        sans-serif;
}

.site-heading .site-heading-upper {
    display: block;
    font-size: 2rem;
    font-weight: 800;
}

.site-heading .site-heading-lower {
    font-size: 5rem;
    font-weight: 100;
    line-height: 4rem;
    color: black;
}