.list-hours {
  font-size: 0.9rem;
  .list-hours-item {
    border-bottom: 1px solid fade-out($primary, 0.5);
    padding-bottom: .25rem;
    margin-bottom: 1rem;
    font-style: italic;
    &.today {
      font-weight: bold;
      color: $primary;
    }
  }
  @media(min-width: 992px) {
    width: 50%;
    font-size: 1.1rem;
  }
}

.address {
  strong {
    font-size: 1.2rem;
  }
}
