

@font-face {
  font-family: myHultog;
  src: url(font/Hultog.ttf);

}

@font-face {
  font-family: myHultogCoursive;
  src: url(font/HultogItalic.ttf);
 
}


@font-face {
  font-family: myCaps;
  src: url(font/GoudyInitialen.ttf);
 
}



/*---------INDEX----------*/

body {
	background-color: black;
}


.index-container {
	font-family: myHultog;
	color: #4a433e;
	background-image: url("img/book.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	margin-top: 100px;
	margin-bottom: 50%;
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 170px;
	padding-bottom: 100px;
	padding-left: 120px;
	padding-right: 80px;	
}



.grid-container h3 {
	padding-top: 5px;
	padding-bottom: 5px;
}


.grid-container {
	padding-left: 80px;
	margin-left: 50%;
}


.grid-container p {
	display: none;
}


.grid-container a {
	display:none;
}


#title {
	padding-left: 55%;
}


#table-home-page {
	display: table;
	font-size: 19pt;
	padding-left: 65%;
}


#subright {
	font-size: 19pt;
	font-family: myHultogCoursive;
    text-align: center;
  	letter-spacing: 3px;
  	padding: 10px;
 	display: table-row;
  	border: solid; 
  }


#subcenter {
	font-size: 19pt;
  	font-family: myHultogCoursive;
  	text-align: center;
  	letter-spacing: 3px;
	padding: 10px;
	display: table-row;
}

#subleft {
	font-size: 19pt; 
	font-family: myHultogCoursive;
  	text-align: center;
  	letter-spacing: 3px;
	padding: 10px;
	display: table-row;
}


.item1:before {
	content: "";
	background-image: url("img/incisione.jpeg");
	background-size: 100% 100%;
	display: block;
	height: 240px;
	width: 220px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 22%;
}


h1 {
	text-transform: uppercase;
	font-family: myHultogCoursive;
	text-align: center;
	font-size: 38pt;
	letter-spacing: 6px;
}

	
h2 {
	letter-spacing: 10px;
	text-align: center; 
	text-transform: uppercase;
	line-height: 1.5;
	font-size: 23pt;
	font-family:  myHultogCoursive;
	padding-bottom: 20px;
}


h3 {font-family:  myHultog;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 10px;
	font-size: 15pt;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1.5;
}


h4 {
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 10px;
	padding: 5px;
	font-size: 11pt;
	font-family: myHultog;
}



h5 {
	font-size: 12pt;
	letter-spacing: 2px;
	padding: 5px;
	text-align: center;
	font-family: myHultogCoursive;
}


h6 {	
	font-family:  myHultog;
	text-align: center;
	padding: 15px;
}



/*---------ARTICLES----------*/


article {
	color: #4a433e;
}


article section {
	font-family: myHultogCoursive;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 13pt;
	background-image: url("img/book.png");
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-align: justify;
	padding-top: 140px;
	padding-bottom: 140px;
	padding-right: 120px;
	padding-left: 160px;
	-webkit-column-count: 2; /* Chrome, Safari */
	column-count: 2;
	-webkit-column-gap: 150px; /* Chrome, Safari */
	column-gap: 150px;	
	line-height: 1.5;
}


section img {	
	width: 100%;
	height: 100%;
	margin-right: 25px;
	filter: sepia(1);
	-webkit-filter: sepia(1);
	align-items: center;
	border:2px solid;
	margin-top: 15px;
	margin-bottom: 15px;
}


article section:first-of-type {
	-webkit-column-count: 1; /* Chrome, Safari */
	column-count: 1;
	padding-left: 60%;
	padding-top: 20%;
	padding-bottom: 20%;
}


article section:nth-of-type(2) > p:nth-of-type(1)::first-letter {
  	font-family: myCaps;
	float: left;
    font-size: 90pt;
    line-height: 65px;
    padding-top: 20px;
    padding-right: 6px;
}


figcaption {
	font-family: myHultog;
	font-size: 10pt;
	text-align: center;
	line-height: 1.5;
	padding: 5px;
}


section span {
	font-family: myHultogCoursive;
	letter-spacing: 2px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	display: block;
	font-size: 19pt;
}


article a {
  color:#4a433e;
}

article a:hover { 
  color: #4a433e;
  font-family: myHultog; 
}

th {border: 1px solid #4a433e;
	font-size: 15pt;
	text-transform: uppercase;
	padding: 10px;

}


td {border: 1px solid #4a433e;
	padding: 10px;
}


tr{
	border: 1px solid #4a433e;
}


table {border: 4px solid;
	margin-bottom: 25px;
	margin-top: 25px;
	word-break: break-word;
	margin-left: auto;
	margin-right: auto;
	color: #4a433e;
	border-spacing: 1px;
	border-collapse: separate;
}


/*---------EU-DIRECTIVE----------*/


.container-eu {
	margin-left: 30px; 
  	margin-right: 30px;
	color: #241B12;
	margin-top: 170px;
	font-family: myHultog;
	font-size: 9pt;
	margin-bottom: 100px;
	height:auto;
	overflow: hidden;
}


.flex-container{
	letter-spacing: 1px;
    width: 100%;
    display: -webkit-flex; 
    margin: 0 auto;/* Safari */     
    display: flex; /* Standard syntax */
	text-align:justify;
	}


 .col-ing{
	margin-right: 15px;
	margin-left: 15px;
	padding: 50px;
	background-image: url("img/pergamena.png");
	background-repeat: repeat-y;
	background-size: 100%;
	background-position: center;
    -webkit-flex: 1; /* Safari */
    flex: 1; /* Standard syntax */
}


.col-ita{
	margin-right: 15px;
	margin-left: 15px;
	padding: 50px;
	background-image: url("img/pergamena.png");
	background-repeat: repeat-y;
	background-size: 100%;
	background-position: center;
    -webkit-flex: 1; /* Safari */
    flex: 1; /* Standard syntax */
}


.container-eu h2:before {
	content: "";
	background-image: url("img/fregio2.png");
	background-size: 100% 100%;
	display: block;
	height: 40px;
	width: 300px;
	margin-top: 10%;
	margin-left: 20%;
	margin-bottom: 10%

}


.eu-directive span {
font-size: 13pt;
}

.container-eu a {
  color:#4a433e;
}

.container-eu a:hover { 
  color: #b39c89;
}

/*---------DOCUMENTATION----------*/


.container-documentation {
	color: #4a433e;
	font-family: myHultog;
	font-size: 13pt;
	margin: 30px;
	line-height: 1.5;
	text-align: justify;
	margin-top: 170px;
}

.container-documentation > section:nth-of-type(1) {
	margin-left: 30px;
	margin-right: 30px;
	font-size: 13pt;
	background-image: url("img/book.png");
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	-webkit-column-count: 1; /* Chrome, Safari */
	column-count: 1;
	padding-left: 55%;
	padding-top: 15%;
	padding-bottom: 35%;
}



.container-documentation  section{
	font-family: myHultogCoursive;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 13pt;
	background-image: url("img/book.png");
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-align: justify;
	padding-top: 140px;
	padding-bottom: 140px;
	padding-right: 120px;
	padding-left: 160px;
	-webkit-column-count: 2; /* Chrome, Safari */
	column-count: 2;
	-webkit-column-gap: 150px; /* Chrome, Safari */
	column-gap: 150px;	
	line-height: 1.5;
}


.container-documentation section > p:first-letter {
	font-family: myCaps;
	float: left;
    font-size: 90pt;
    line-height: 65px;
    padding-top: 20px;
    padding-right: 6px;
}

.container-documetation h3 {
	font-size: 17pt;

}

#title-documentation {
	margin-right: 5%;
letter-spacing: 2px;
}


#title-documentation:before {
	content:"";
	background-image: url("img/fregio2.png"); 
	background-size: 100% 100%;
	display:inline-block;
	height: 30px;
	width: 300px;
	padding-left: 25%;
	margin-bottom: 10%;
}


.container-documentation a {
  color:#4a433e;
}

.container-documentation a:hover { 
  color: #b39c89;
}

/*---------ABOUT----------*/


.container-about{
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 170px;
	margin-bottom: 100px;
	color:#4a433e;}

.container-about h2{
	font-size: 38pt;
}


.container-about > section:nth-of-type(1){
	background-image: url("img/book.png");
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	-webkit-column-count: 2; /* Chrome, Safari */
	column-count: 2;
	-webkit-column-gap: 150px; /* Chrome, Safari */
	column-gap: 150px;	
	padding-top: 140px;
	padding-bottom: 140px;
	padding-right: 120px;
	padding-left: 160px;
	margin-right: 30px;
	margin-left: 30px;
}


.container-about > section:nth-of-type(2) {
	background-image: url("img/book.png");
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	-webkit-column-count: 1; /* Chrome, Safari */
	column-count: 1;
	padding-left: 50%;
	padding-right: 5%;
	padding-top: 10%;
	padding-bottom: 10%;
	margin-right: 30px;
	margin-left: 30px;
}




#text-about p {
	font-size: 15pt;
	font-family: myHultogCoursive;
	text-align: center;
	letter-spacing: 2px;
}



.card-text{
	font-size: 11pt;
	font-family: myHultog;
	line-height: 1.5;
	letter-spacing: 1px;
	margin-bottom: 5%;

}


.card-img-top {
	display: none;

}

.container-fluid {
	margin-right: 5px;
	padding: 5px;
}

.card-body {
	padding: 3px !important;
}

.card {
	background: transparent;
  	text-align: center;
	border: none;
	margin: 0px !important;}


.container-about h5 {
	letter-spacing: 2px;
	text-align: center;
	font-family: myHultogCoursive;
	text-transform: uppercase;
	font-size: 11pt;
}


.card-title-sara:before { 
	content: ""; 
	background-image: url("img/sara500.png"); 
	filter: sepia(0.8);
	background-size: 100% 100%;
	display: block;
	height: 140px;
	width: 120px;
	margin-bottom: 30px;
}


.card-title-lucia:before { 
	content: ""; 
	background-image: url("img/lucia500.png"); 
	filter: sepia(0.8);
	background-size: 100% 100%;
	display: block;
	height: 140px;
	width: 120px;
	background-position: center;
	margin-bottom: 30px;
}


.card-title-michela:before { 
	content: ""; 
	background-image: url("img/michela500.png"); 
	background-size: 100% 100%;
	filter: sepia(0.7);
	display:block;
	height: 140px;
	width: 120px;
	align-content: center;
	margin-bottom: 30px;
}


/*---------EXTRA----------*/

section li {
	font-family: myHultogCoursive;
	color: #4a433e;
	font-size: 13pt;
}


section ol {
	list-style-type: upper-roman;
	color: #4a433e;
}


section ul {
	list-style-type: square;
	color: #4a433e;
}

/*---------MEDIA----------*/

@media screen and (min-width: 1400px) {
	section{
	font-size: 15pt;
	}}


@media screen and (max-width: 1200px) {
	#table-home-page {
	padding-left: 65%;;
	}
	.container-eu h2:before {
	margin-left: 15%;
}




@media screen and (max-width: 1100px) {
	.container-about h2{
	font-size: 34pt;
	}
	#text-about p {font-size: 9pt;}
	.card-title-michela:before {
	height: 120px;
	width: 100px;}
	.card-title-lucia:before {
	height: 120px;
	width: 100px;}
	.card-title-sara:before {
	height: 120px;
	width: 100px;}
	.card-text {
	font-size: 9pt;}
	.container-documentation section{
	margin: 25px;
	padding-top: 130px;
	padding-bottom: 130px;
	padding-left: 120px;
	padding-right: 100px;
	-webkit-column-gap: 130px; /* Chrome, Safari */
  	column-gap: 130px;}
	.container-documentation section > p:first-letter {
	font-size: 60pt;
	height: 50px;
	padding-top: 5px;} 
	.container-documentation p {
	font-size: 11pt;}
	section li {
	font-size: 11pt;	
	}
	#title-documentation:before {
	height: 25px;
	width: 200px;
	margin-bottom:20px;}
	#text-about p {
	font-size: 14pt;}
	.card-text {
	font-size: 9pt;}
	.card-title-michela:before {
	height: 120px;
	width: 100px;}
	.card-title-lucia:before {
	height: 120px;
	width: 100px;}
	.card-title-sara:before {
	height: 120px;
	width: 100px;}
	h2 {font-size: 19pt;
	padding: 15px;
	letter-spacing: 5px;}
	article section{
	padding-top: 120px;
	padding-bottom: 120px;
	padding-right: 100px;
	padding-left: 140px;
	font-size: 11pt;
	-webkit-column-gap: 130px; /* Chrome, Safari */
	column-gap: 130px;	}
	.container-about > section:nth-of-type(1){
	-webkit-column-gap: 130px; /* Chrome, Safari */
	column-gap: 130px;	
	padding-top: 120px;
	padding-bottom: 120px;
	padding-right: 100px;
	padding-left: 140px;
}
	h3{
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 11pt;
	letter-spacing: 5px;}
	h4{
	font-size: 8pt;
	letter-spacing: 5px;}
	h5{
	font-size: 11pt;}
	figcaption {
	font-size: 8pt;}
	section span {
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 11pt;}
	.index-container{
	padding-top: 130px;
	padding-bottom: 80px;
	padding-left: 100px;
	padding-right: 60px;
	}
	.grid-container {
	padding-left: 60px;}
	h1{font-size: 30pt;
	letter-spacing: 5px;}
	#subright {
	font-size: 15pt;}
	#subleft {
	font-size: 15pt;}
	#subcenter {
	font-size: 15pt;}
	#title{
		font-size: 30pt;
	}
	.container-eu h2:before {
	margin-left: 10%;
	}
	article section:nth-of-type(2) > p:nth-of-type(1)::first-letter {
	font-size: 60pt;
	height: 50px;
	padding-top: 5px;
	}
	.container-about h5{
	font-size: 9pt;}
	#table-home-page {
	padding-left: 65%;
	}
	#title-documentation {
	font-size: 15pt;
	margin-right: 5%

}
 }



@media screen and (max-width: 1000px) {
	.index-container{
	padding-top: 100px;
	padding-bottom: 40px;
	padding-left: 100px;
	padding-right: 60px;
}
	h3{font-size:13px;}
	.grid-container {
	padding-left: 40px;}
	.item1:before {
	height: 180px;
	width: 160px;
	margin-left: 27%;
	}
	#table-home-page {
	font-size: 19pt;
	padding-left: 62%;
	}
	#subright {
	font-size: 14pt;}
	#subleft {
	font-size: 14pt;}
	#subcenter {
	font-size: 14pt;}
	.container-eu h2:before {
	height: 30px;
	width: 200px;
	margin-bottom: 50px;
	margin-left: 18%;}
	.container-fluid{
	margin-right: 5%;
}

}






@media screen and (max-width: 950px) {
	.container-about h2{
	font-size: 26pt;}
	.container-documentation section{
	margin: 20px;
	padding-top: 110px;
	padding-bottom: 110px;
	padding-left: 100px;
	padding-right: 70px;
	-webkit-column-gap: 110px; /* Chrome, Safari */
  	column-gap: 110px;}
.container-about > section:nth-of-type(1){
	-webkit-column-gap: 70px; /* Chrome, Safari */
	column-gap: 70px;	
	padding-top: 110px;
	padding-bottom: 110px;
	padding-right: 70px;
	padding-left: 100px;
}
	.container-documentation section > p:first-letter {
	font-size: 45pt;
	height: 40px;
	padding-top: 0px;}
	#text-about p {
	font-size: 8pt;}
	.container-documentation p {
	font-size: 9pt;}
	section li {
	font-size: 9pt;	
	}
	#title-documentation:before {
	height: 15px;
	width: 150px;
	margin-bottom:15px;}
	article section{
	padding-top: 100px;
	padding-bottom: 100px;
	padding-right: 90px;
	padding-left: 120px;
	font-size: 8pt;
	-webkit-column-gap: 110px; /* Chrome, Safari */
	column-gap: 110px;}	
	.card-text {
	font-size: 8pt;}
	h2 {
	font-size: 14pt;
	padding: 10px;}
	h3{
	padding-top: 0px;
	padding-bottom: 5px;
	font-size: 9pt;}
	h4{
	font-size: 6pt;}
	figcaption {
	font-size: 6pt;}
	section span {
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 10pt;}
	h5{
	font-size: 9pt;}
	h1{
	font-size: 30pt;
	letter-spacing: 5px;}
	article section:nth-of-type(2) > p:nth-of-type(1)::first-letter {
    font-size: 45pt;
	height: 40px;
	padding-top: 0px;}
	.container-eu {
	font-size: 8pt;}
	.container-about h5{
	font-size: 12px;}
	.card-title-michela:before {
	height: 100px;
	width: 80px;}
	.card-title-lucia:before {
	height: 100px;
	width: 80px;}
	.card-title-sara:before {
	height: 100px;
	width: 80px;}
}







@media screen and (max-width: 800px) {
	.container-about p {
	font-size: 8pt;}
	.container-about h2{
	font-size: 19pt;}
	.card-title-michela:before {
	height: 100px;
	width: 80px;}
	.card-title-lucia:before {
	height: 100px;
	width: 80px;}
	.card-title-sara:before {
	height: 100px;
	width: 80px;}
	.container-documentation section{
	margin: 15px;
	padding-top: 90px;
	padding-bottom: 90px;
	padding-left: 80px;
	padding-right: 50px;
	-webkit-column-gap: 90px; /* Chrome, Safari */
  	column-gap: 90px;}
	.container-documentation section > p:first-letter {
	font-size: 35pt;
	line-height: 1;
	padding-top: 0px;}
	.container-documentation p {
	font-size: 7pt;}
	section li {
	font-size: 7pt;	
	}
	#title-documentation:before {
	height: 10px;
	width: 100px;
	margin-bottom:15px;}
	article section{
	padding-top: 80px;
	padding-bottom: 80px;
	padding-right: 70px;
	padding-left: 100px;
	font-size: 8pt;
	-webkit-column-gap: 90px; /* Chrome, Safari */
	column-gap: 90px;}
	.container-about > section:nth-of-type(1){
	-webkit-column-gap: 90px; /* Chrome, Safari */
	column-gap: 90px;	
	padding-top: 80px;
	padding-bottom: 80px;
	padding-right: 70px;
	padding-left: 100px;
}	
	.card-text {
	font-size: 6pt;}
	h2 {
	font-size: 9pt;
	padding: 10px
	letter-spacing: 2px;
	}
	h3{
	padding-top: 0px;
	padding-bottom: 5px;
	font-size: 8pt;}
	h4{
	font-size: 6pt;
	}
	p {
	padding-top: 5px;
	}
	.item1:before {
	height: 160px;
	width: 140px;
	margin-top: 12px;
	margin-bottom: 12px;
	margin-left: 27%;
	}
	h1{font-size: 23pt;
	letter-spacing: 2px;}
	#subright {
	font-size: 9pt;}
	#subleft {
	font-size: 9pt;}
	#subcenter {
	font-size: 9pt;}
	.index-container{
	padding-top: 90px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 40px;}
	#title{
	font-size: 23pt;}
	#table-home-page {
	padding-left: 67%;
	font-size: 8pt;}
	.container-eu h2:before {
	height: 20px;
	width: 170px;
	margin-bottom: 50px;
	margin-left: 15%;}
	.container-eu {
	font-size: 6pt;}
	.container-about h5{
	font-size: 11pt;}
		article section:nth-of-type(2) > p:nth-of-type(1)::first-letter {
    font-size: 35pt;
	line-height: 1;
	padding-top: 0px;}
	
}

@media screen and (max-width: 750px) {
.container-eu h2:before {
	margin-left: 10%;}
	#title-documentation {
	font-size: 10pt;}
#table-home-page {
	padding-left: 63%}
	.item1:before {
	margin-left: 25%;
	}
}


@media screen and (max-width: 650px) {
	.container-about h2{
	font-size: 11pt;}
	.container-about > section:nth-of-type(1){
	-webkit-column-gap: 70px; /* Chrome, Safari */
	column-gap: 70px;	
	padding-top: 60px;
	padding-bottom: 60px;
	padding-right: 60px;
	padding-left: 60px;
}
	.container-documentation section{
	font-size: 6pt;
	margin: 5px;
	padding-left: 60px;
	padding-right: 40px;
	-webkit-column-gap: 70px; /* Chrome, Safari */
  	column-gap: 70px;}
	#title-documentation:before {
	height: 10px;
	width: 100px;
	margin-bottom:15px;}
	article section{
	padding-top: 60px;
	padding-bottom: 60px;
	padding-right: 60px;
	padding-left: 80px;
	font-size: 6pt;
	-webkit-column-gap: 70px; /* Chrome, Safari */
	column-gap: 70px;}
	.container-about > section:nth-of-type(1){
	-webkit-column-gap: 70px; /* Chrome, Safari */
	column-gap: 70px;	
	padding-top: 110px;
	padding-bottom: 110px;
	padding-right: 70px;
	padding-left: 100px;
}
	h2 {
	font-size: 9pt;
	padding: 5px
	letter-spacing: 2px;
	}
	h2{
	letter-spacing: 1.5px;
	}
	h3{
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 6px;}
	h4{
	font-size: 5pt;
	}
	h5{
	margin-top: 50px;
	font-size: 9pt;
	letter-spacing: 1px;
	line-height: 100%;}
	p {
	padding-top: 0px;
	}
	.item1:before {
	height: 90px;
	width: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 30%;
	}
	h1{font-size: 15pt;
	letter-spacing: 1px;}
	#subright {
	font-size: 6pt;}
	#subleft {
	font-size: 6pt;}
	#subcenter {
	font-size: 6pt;}
	.index-container{
	padding-top: 50px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 20px;}
	.grid-container {
	padding-left: 20px;}
	#title{
	font-size: 15pt;
	padding-left: 55%;
	 }
	#table-home-page {
	padding-left: 63%;
	font-size: 8pt;
	}

	.container-eu h2:before {
	margin-bottom: 30px;
	height: 15px;
	width: 130px;}
	.container-about h5{
	font-size: 8pt;}
		.container-about > section:nth-of-type(2) {
	padding-left: 45%;
	padding-right: 5%;
}	
	
}


