@font-face 
{font-family: ITCAvantGardeStd-BkObl;
src: url("ITCAvantGardeStd-BkObl.eot") ;
src: url('font/ITCAvantGardeStd-BkObl.otf') format('truetype');}

@font-face
{font-family: ITC Avant Garde Gothic LT Book Regular;
src: url("ITC Avant Garde Gothic LT Book Regular.eot") ;
src: url('font/ITC Avant Garde Gothic LT Book Regular.otf') format('truetype');}

@font-face {
   font-family:Futura Book Regular ;
   src: url(Futura Book Regular.eot);
src: url('font/Futura Book Regular.otf') format('truetype');}

@font-face 
{font-family: SchmalfetteCP;
    src: url("font/SchmalfetteCP.ttf");
}

@font-face {
   font-family:Book Antiqua ;
   src: url(Book Antiqua.eot);
src: url('font/Book Antiqua.ttf') format('truetype');}


@font-face {
   font-family:Humanist521BoldBT ;
   src: url(Humanist521BoldBT.eot);
src:url('font/Humanist521BoldBT.ttf') format('truetype');}

@font-face {
   font-family:Windsor-Bold ;
   src: url(Windsor-Bold.eot);
src: url('font/Windsor-Bold.ttf') format('truetype');}

@font-face {
   font-family:geometric 231 bt;
   src: url(geometric 231 bt.eot);
src: url('font/geometric 231 bt.ttf') format('truetype');}

@font-face {
   font-family:Koch Regular;
   src: url(Koch Regular.eot);
src: url('font/Koch Regular.ttf') format('truetype');}


@font-face {
   font-family:Art Gothic Bold;
   src: url(Art Gothic Bold.eot);
src:url('font/Art Gothic Bold.ttf') format('truetype');}

@font-face {
   font-family:VikingStencil;
   src: url(VikingStencil.eot);
src:url('font/VikingStencil	.ttf') format('truetype');}


@font-face {
   font-family:Cooper Std Black;
   src: url(Cooper Std Black.eot);
src:url('font/Cooper Std Black	.otf') format('truetype');}
	

	
body{background-image: url("img/cassette3.jpg");


}

.index-container{
	margin-bottom:100px;
	background-image:url("img/sfondo2.png");
    margin-top: 100px;
    margin-bottom: 80%; 
	padding-bottom:10%;
    height:auto;
    overflow: hidden;
	margin-right: 100px;
   margin-left: 100px;
  
  
}

	

#title{ font-family:  ITC Avant Garde Gothic LT Book Regular;
		font-size: 140pt;
		text-align:left;
		margin-top: 10%;
		letter-spacing:-40px;
		word-break: break-word;
		margin-left:5%;
		margin-right:55%;
		font-weight: bold;
		font-style:italic;
		text-transform:uppercase;
 }


tr{border-top:solid;
border-width: thin;}


#table-home-page  { display: inline-block;

}

#subright{ font-family:ITC Avant Garde Gothic LT Book Regular;
		font-style: oblique;
		display:inline-block;
		color: #2E8B57;
		margin-left:0;
}

#subcenter{font-family:ITC Avant Garde Gothic LT Book Regular;
		font-style: oblique;
		display:inline-block;
		margin:0;
		color: #2E8B57;}


 #subleft{font-family:ITC Avant Garde Gothic LT Book Regular;
		font-style: oblique;
		display:inline-block;
		color:#2E8B57;
		margin-left:30px;
}


.grid-container{column-count: 2;
				margin-bottom: 40px;
				padding-top:40px;
				margin-left: 40%;
				margin-top:30px;
}

.item1 p{display:none;}
.item2 p{display:none;}
.item3 p{display:none;}
.item4 p{display:none;}
.item5 p{display:none;}
.item6 p{display:none;}


 
 .index-container h3{font-family:ITC Avant Garde Gothic LT Book Regular;
					text-transform: uppercase;
					letter-spacing:-2px;
					text-align:left;
					font-size:15pt;
					border-top:solid;
					margin-right:40%;
					margin-left:30px;
					margin-top:20px;
					margin-bottom:5px;
}
  
 h3{font-family:ITC Avant Garde Gothic LT Book Regular;
	text-transform: uppercase;
	letter-spacing:-2px;
	text-align:left;
	font-size:15pt;
	border-top:solid;
	margin-right:40%;
	margin-left:30px;
	margin-top:20px;
	margin-bottom:20px;
}
.index-container a{font-family: ITC Avant Garde Gothic LT Book Regular;
				color:black;
				font-size:11.25pt;
				padding-bottom:10px;
				margin-left: 30px;
				display: block;
				text-align: left;
}


.index-container a:active {
	color: black;}

.index-container a:visited {	
	color: black;}


/*media query for index*/
@media screen and (max-width: 1000px) {#title{ font-size:85pt;
		letter-spacing:-20px;
		margin-left: 30px;
		margin-right:510px;
}}

@media screen and (width: 2560px) {#title{font-size:200pt;
	margin-right:70%;
	}}

	@media (width: 2560px){
	 .index-container h3{font-size:37.5pt;}
	 
}

	

/*stile articoli*/
article{
		margin-top: 100px;
		margin-bottom:100px;
		margin-left:90px;
		margin-right:90px;
		background-image:url("img/sfondo2.png");
		text-align:justify;
		font-size: 11pt;
		padding-right:50px;
		padding-left: 50px;
		padding-bottom: 50px;
		padding-top: 100px;
		text-align:justify;
		-webkit-column-count: 3; /* Chrome, Safari, Opera */
		column-count: 3;
		-webkit-column-gap: 20px; /* Chrome, Safari, Opera */
		column-gap: 20px;
		height:auto;		
  }		
  
  article a{font-family: Futura Book Regular; 
			color:black;
			font-size:11.25pt;
			padding-bottom:10px;
			margin-left: 30px;
}
article a:active {
	color: black;}

article a:visited {
	color: black;}
  

h1{font-family:  ITC Avant Garde Gothic LT Book Regular;
	font-size: 80pt;
	text-align:left;
	margin-top: 10%;
	letter-spacing:-10px;
	margin-left:5%;
	margin-right:55%;
	font-weight: bold;
	font-style:italic;}


h2{ font-family:Windsor-Bold;
	font-size: 15pt;
	letter-spacing: -5px;
	word-break: break-word;
	text-align: center;
	margin-left:10px;
	margin-right: 20px;
	line-height: -100; 
	margin-top:5px;
}



  h4{font-family: Windsor-Bold;
	margin-left:20px;
	margin-right: 20px;
	font-size:11.25pt;
}


article p{	
			font-size: 11pt;
			margin-top: 30px;
			font-family: Book Antiqua;
	}
	

section {
		font-size: 11pt;
		margin-top: 30px;
		font-family: Book Antiqua;}
		
		
section p {
		font-size: 11pt;
		margin-top: 30px;
		font-family: Book Antiqua;}

#mainbody li{font-family: Book Antiqua;}

 
article span{font-family: Book Antiqua;
			font-style: oblique;
			font-size: 11pt;} 

			
article p:first-letter{
	color: #e60099;
	float: left;
	font-size: 6em;
	font-weight:bold;
	line-height: 90%;
	font-family: SchmalfetteCP;
}

article img{
	height: auto;
	margin-top:150px;
	margin-bottom: 10px;
	max-width: 100%;
	-webkit-filter: blur(0px) brightness(1.1) contrast(1.4) grayscale(0.39) hue-rotate(250deg) invert(0.1) opacity(100%) saturate(8.8) sepia(0.5) drop-shadow(0px 0px 5px #000);
}


#mainbody figcaption{font-family: geometric 231 bt;
	font-size: 7.5pt;
	border-bottom: solid;
	border-width: thin;
	margin-top:-5px;
	padding-top: -10px;
}

article h5{font-family:Koch Regular;
	text-transform:uppercase;}

 #mainbody h5{font-family:Koch Regular;
	text-transform:uppercase;}

 #mainbody h6{font-family:Koch Regular;
}

/*media query article*/
@media screen and (max-width: 700px) {article { 
  -webkit-column-count: 2; /* Chrome, Safari */
  column-count: 2;}}


@media screen and (max-width: 600px) {article { 
  -webkit-column-count: 1; /* Chrome, Safari*/
  column-count: 1;
} }

@media screen and (max-width: 1000px) {  h1{ font-size: 22.5pt;
letter-spacing:2px;
}}
@media screen and (max-width: 1200px) { h2{ font-size: 37.5pt;
margin-left:20px;
margin-right: 20px;
}}



@media screen and (max-width: 700px) { h2{ font-size:15pt;
margin-right:10px;
margin-left:10px;
}}	

/* smaller phone viewpoints */
@media (min-width: 320px) { h2 { font-size:30pt;

}}



/*about*/

.container-about{margin-top: 100px;
		margin-bottom:100px;
		background-image:url("img/sfondo nero.png");
		height:auto;
		text-align:justify;
		font-size: 11.25pt;
		margin-left:90px;
		margin-right:90px;
		}

.container-about img{
	height: auto;
	margin-top:150px;
	margin-bottom: 10px;
	max-width: 100%;
	-webkit-filter: blur(0px) brightness(1.1) contrast(1.4) grayscale(0.39) hue-rotate(250deg) invert(0.1) opacity(100%) saturate(8.8) sepia(0.5) drop-shadow(0px 0px 5px #000);
}


		
 
#title-about{font-family:Cooper Std Black;

	font-size: 97.5pt;
	letter-spacing:none;
	word-break: none;
	text-align: center;
	margin-left:50px;
	margin-right: 20px;
	margin-top:110px;
	padding-top:100px;
	line-height:none;
	color:#f7e8c3;
	 }
	   

	   
.description{ 
	color:#f7e8c3;
	font-family: Book Antiqua;
	padding-top:25px;
	margin-top:50px;
	column-count:3;
	margin-left:60px;
	margin-right:60px;
	-webkit-column-count: 3; /* Chrome, Safari */
	column-count: 3;
	-webkit-column-gap: 20px; /* Chrome, Safari */
	column-gap: 20px;	
	}
	


.description:first-letter{
	float: left;
	font-size: 6em;
	font-weight:bold;
	line-height: 50%;
	font-family: SchmalfetteCP;
}

#team{font-family:Cooper Std Black;
	color:#f7e8c3;
	font-size: 75pt;
	letter-spacing:none;
	word-break: none;
	text-align: center;
	margin-left:20px;
	margin-right: 20px;
	margin-top:80px;
	padding-top:30px;
	line-height:none;
	letter-spacing:-8px;
	}
	   
.card-title-sara{font-family:Koch Regular;
	text-transform:uppercase;
	text-align:center;
	border-bottom: solid;
	border-width: thin;
	color:#f7e8c3;}

.card-title-lucia{font-family:Koch Regular;
	text-transform:uppercase;
	text-align:center;
	border-bottom: solid;
	border-width: thin;
	color:#f7e8c3;}

.card-title-michela{font-family:Koch Regular;
	text-transform:uppercase;
	text-align:center;
	border-bottom: solid;
	border-width: thin;
	color:#f7e8c3;}


.card{
	border-bottom:40%;
	border: none;
	background-image :url("img/sfondo nero.png");
}

.card-img-top-1{ display: block;
				margin-left: auto; 
				margin-right: auto; 
				width: 80%;
				-webkit-filter: blur(0px) brightness(1.1) contrast(1.4) grayscale(0.39) hue-rotate(250deg) invert(0.1) opacity(100%) saturate(8.8) sepia(0.5) drop-shadow(0px 0px 5px #000);				}
				

				
.card-text {font-family: ITC Avant Garde Gothic LT Book Regular;
	text-transform: uppercase;
	text-align:center;
	color:#f7e8c3;
}

.card-deck{padding-right:20px;
	padding-left:20px;
	padding-bottom:60px;
}

/*media query about*/
	
@media screen and (max-width: 700px) {.description { 
  -webkit-column-count: 2; /* Chrome, Safari */
  column-count: 2;}}



@media screen and (max-width: 600px) {.description { 
  -webkit-column-count: 1; /* Chrome, Safari */
  column-count: 1;
} }



/*documentation*/

.container-documentation p{margin-top: 30px;
	font-family: Book Antiqua;}
	
.container-documentation section { padding: 5px;
	border-top: 10%;
	margin-top: 5px;

}

.container-documentation{margin-top: 100px;
		padding-bottom: 100px;
		padding-top: 50px;
		margin-bottom:100px;
		background-image:url("img/sfondo2.png");
		text-align:justify;
		font-size: 11.25pt;
		margin-left:90px;
		margin-right:90px;
		height:auto;
		padding-right:50px;
		padding-left: 50px;
		padding-bottom: 50px;
		padding-top: 100px;
	}
	

.container-documentation li{font-family: Book Antiqua;
	margin-right:30px;}

.container-documentation p{ padding: 5px;
	border-top: 10%;
	margin-top: 5px;

}		

.container-documentation span{font-family: Book Antiqua;
			font-style: oblique;
			font-size: 11pt;} 

.container-documentation p:nth-of-type(1)::first-letter {

	float: left;
	font-size: 5em;
	line-height:5%;
	font-family: VikingStencil;
	color:  #003366;
	margin-top:10px;
	padding-bottom:10px;
	padding-top:10px;
}



#title-documentation{font-family:VikingStencil;
	font-size: 75pt;
	column-span: all;
	text-align: center;
	margin-left:11.25pt;
	margin-top:30px;
	margin-bottom:30px;
	color: #003366;}
	   

.container-documentation h3{	border-top:solid;
	border-width: thin;
	font-weight: bold;
	padding-top:5px;
	font-size:40pt;

}



.container-documentation h4{font-family: Koch Regular;
  text-transform: uppercase;
  letter-spacing:-5px;
  font-size:30pt;
  text-align:center;

}



.container-documentation a{font-family: Futura Book font; 
			color:black;
			font-size:11.25pt;
			padding-bottom:10px;
			margin-left: 30px;

}
 .container-documentation a:active {
	color: black;}

 .container-documentation a:visited {
	color: black;}

/*media query documentation*/
	
@media screen and (max-width: 700px) {.container-documentation { 
  -webkit-column-count: 1; /* Chrome, Safari */
  column-count: 1;}}



@media screen and (max-width: 600px) {.container-documentation { 
  -webkit-column-count: 1; /* Chrome, Safari */
  column-count: 1;
} }

@media screen and (max-width: 1200px) {#title-documentation{ font-size: 60pt;

}}



@media screen and (max-width: 1000px) {#title-documentation {  font-size: 50pt;
letter-spacing: -1px;
}


}

@media screen and (max-width: 768px){.container-documentation h3{font-size:10pt;
}} 

@media (width: 2560px){
    #title-documentation { 
		font-size:200px;
		margin-bottom:50px;
    }
	.container-documentation p{font-size:22.5pt;
	padding-top:20px;
	margin-top:20px;}
	
}
	
/*eudirective*/
.flex-container{
    width: 100%;
    margin-top:50px;
	padding-top:30px;
    margin: 0 auto;
    display: -webkit-flex; /* Safari */     
    display: flex; /* Standard syntax */
	 text-align:justify;

	}

.flex-container .col-ing{

	padding-top: 11.25pt;
	padding-bottom:15px;
	padding-left:30px;
	padding-right:30px;
    -webkit-flex: 1; /* Safari */
    flex: 1; /* Standard syntax */
	

}
.flex-container .col-ita{
	
	padding-top: 15px;
	padding-bottom:15px;
	padding-left:30px;
	padding-right:30px;
    -webkit-flex: 1; /* Safari */
    flex: 1; /* Standard syntax */
	

}
.container-eu{margin-top: 100px;
		margin-bottom:100px;
		background-image:url("img/sfondo2.png");
		text-align:justify;
		font-size: 11.25pt;
		margin-left:50px;
		margin-right:50px;
		padding-top:0px;
		padding-right:20px;
		padding-left:20px;
		padding-top:0px;
		padding-bottom:20px;
		height:auto;	
		}

.container-eu p{margin-top: 30px;
	font-family: Book Antiqua;
		
	}

 .container-eu a{font-family: Futura Book font; 
	color:black;
	font-size:11.25pt;
	padding-bottom:10px;
	margin-left: 30px;
}
.container-eu  a:active {
	color: black;}

.container-eu  a:visited {
	color: black;}

.container-eu span{font-family: Book Antiqua;
  font-style: oblique;}

  
.container-eu table{margin-left:10px;
	word-break: break-word;
	margin-top:5%; 
}

.container-eu th{font-family:ITC Avant Garde Gothic LT Book Regular;
	color: 	#2E8B57;
	text-align: center;
	font-size:11.25pt;
}
.container-eu td{font-family:ITC Avant Garde Gothic LT Book Regular;
  text-transform: uppercase;
  font-size: 9.75pt;
  color: 	#2E8B57;
	text-align:left;}
	
/*table*/
 #mainbody  table{margin-left:auto;
	margin-right:auto;
	word-break: break-word;
}

#mainbody  td, th{ padding: 10px;
	text-align: center;

}
#mainbody  th{font-family:ITC Avant Garde Gothic LT Book Regular;
	color: 	#2E8B57;
	text-align: center;
	font-size:11.25pt;
}
#mainbody  td{font-family:ITC Avant Garde Gothic LT Book Regular;
  text-transform: uppercase;
  font-size: 9.75pt;
  color: 	#2E8B57;
	text-align:center;}
	
	
/*media query table*/
@media screen and (max-width: 700px) {table{ width:20%;
	margin-right: 50px;
	margin-left: -20px;
}}

@media screen and (max-width: 300px) {  table{ width:10%;
	margin-right: 50px;
	margin-left: -10px;
	word-break: break-word;
}}





