@font-face {
    font-family: capture;
    src:url('font/Capture.ttf');
}

@font-face {
    font-family: colorful;
    src:url('font/Colorful.ttf');
}

@font-face {
    font-family: tiger;
    src:url('font/GrumpyTiger.otf');
}

@font-face {
    font-family: chickadee;
    src:url('font/Chickadee.ttf');
}

@font-face {
    font-family: bunny;
    src:url('font/BunnyHopper.ttf');
}


@font-face {
    font-family: sketch;
    src:url('font/Sketch.otf');
}


@font-face {
    font-family: blueberry;
    src:url('font/BlueberryRegular.otf');
}

@font-face {
    font-family: comicsans;
    src:url('font/comic.ttf');
}

@font-face {
    font-family: techmono;
    src:url('font/Share-TechMono.ttf');
}





body {
    background-image: url("img/pixel.gif");    
}



/*----------HOMAPGE-------------*/
.index-container{
    background-color: white;
    margin-top: 50px;
    padding-top:0px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right:50px; 
    padding-left:0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border: solid black 2px;
    height:auto;
    overflow: hidden;
    cursor: url("img/target.png"), auto;
}

.grid-container p {
    display: none;
}

#title {
font-family: capture;
font-size: 50pt;
 position: relative;
 width: 100%;
 height: 100%;
 margin:0;
 line-height: 50px;
 text-align:left;
 padding-top: 10px;
 padding-bottom:10px;
-webkit-animation: title 1s linear infinite ;
 animation: title 1s linear infinite ;
}

@-webkit-keyframes title {
    0%   { -webkit-transform: translateX(70%); }
    100% { -webkit-transform: translateX(0%); }
   }

@keyframes title {
 0%   { 
 -webkit-transform: translateX(70%); /* Firefox bug fix */
 transform: translateX(70%); 		
 }
 100% { 
 -webkit-transform: translateX(0%); /* Firefox bug fix */
 transform: translateX(0%); 
 }
}

   
#table-home-page {
    display: none;
}


.item1 a {
    display: inline-block;
    position: relative;
    z-index: 99; 
    background-color: white;
    color: black;  
}

.item1 {
    background-color:#80ff80;
    text-align: left;
    height: 100%;
    width: 100%;
}

.item1 h3 {
    font-family: sketch;
    font-size: 75pt;
    color:yellow;
    text-align:center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
}

.item2 {
    
    background-color:#00b3b3;
    text-align: left;
    height: 100%;
    width: 100%;
}

.item2 h3 {
    font-family: colorful;
    font-size: 75pt;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    text-align:center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
}

.item2 a {
    display: inline-block;
    position: relative;
    z-index: 99; 
    background-color: white;
    color: black;  
}

.item3 {
    background-color:#ff6666;
    text-align: left;
    height: 100%;
    width: 100%;
}

.item3 h3 {
    font-family: blueberry;
    font-size: 75pt;
    color: green;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-shadow: 2px 2px yellow;
    text-align:center;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 30px;
}

.item3 a {
    display: inline-block;
    position: relative;
    z-index: 99; 
    background-color: white;
    color: black;  
}

.item4 {
    background-color:#cc66cc;
    text-align: left;
    height: 100%;
}

.item4 h3 {
    font-family: tiger;
    color: red;
    font-size:75pt;
    text-shadow: 2px 2px 5px blueviolet;
    text-align:center;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

.item4 a {
    display: inline-block;
    position: relative;
    z-index: 99; 
    background-color: white;
    color: black;  
}

.item5 {
    background-color: navy;
    text-align: left;
    height: 100%;
    width: 100%;
}

.item5 h3 {
    font-family: chickadee;
    color: yellow;
    font-size:100pt;
    text-align:center;
    text-shadow: 2px 2px red;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

.item5 a {
    display: inline-block;
    position: relative;
    z-index: 99; 
    background-color: white;
    color: black;  
}

.item6 {
    background-color:orangered;
    text-align: left;
    height: 100%;
    width: 100%;
    padding-bottom: 0px;
}

.item6 h3 {
    font-family: bunny;
    color: blueviolet;
    font-size:75pt;
    text-align:center;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

.item6 a {
    display: inline-block;
    position: relative;
    z-index: 99; 
    background-color: white;
    color: black;  
}







/*-----------------ARTICLES--------------*/
article { 
    margin-top: 50px;  
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 20px;
    border: solid black ; 
    font-size: 14pt;
    cursor: url("img/hand-cursor.png"), auto;
    overflow: hidden;
    background: linear-gradient(92deg, #122cdc, #79208f, #b62735, #ed2dd0);
    background-size: 800% 800%;
    -webkit-animation: transition 8s ease infinite;
    animation: transition 8s ease infinite;
}
    
    @-webkit-keyframes transition {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    
    @keyframes transition { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }



article h1 {
        text-transform: uppercase;
        font-size: 100pt;
        width:100%;
        text-align: center;
        color: yellowgreen;
        background-color: black;
        font-family: techmono;
        font-weight: bold;
    }

article h2 {
    margin-top:30px;
	text-transform: uppercase;
	font-size: 80pt;
    width:100%;
	text-align: center;
	color: yellow;
	background-color: black;
    font-family: techmono;
    font-weight: bold;
}

article h3 {
    font-family: techmono;
    text-align: center;
    font-size:30pt;
    color: #FFF;
    background-color: black;
}

article h4 {
    font-family: comicsans;
    text-align: center;
    font-size: 20pt;
    color: red;
    text-align: center;
}

article h5 {
    font-family: comicsans;
    text-align: left;
    font-size: 18pt;
    color: green;
}

article h6 {
    font-family: comicsans;
    text-align: left;
    font-size: 16pt;
    color: green;
}

article section{
    font-family: comicsans;
    line-height: 5em;
    text-align: center;
    color: yellow;
    margin: 10px;
}

article img {
    max-height: 6em;
    margin: 0 auto;
    max-width: 100%;
    position:relative;
    float:left;
}

article img:hover {
    transform: scale(3.5);
}

figcaption{
    background-color:pink;
   color: yellowgreen;
   font-family: comicsans;
   font-size: 15pt;
   text-shadow: 2px 2px 5px blueviolet;
   text-align:center;
   margin-bottom: 10px;
}

article a {
    max-height: 6em;
    margin: 0 auto;
    max-width: 100%;
    position:relative;
    color: blue;
    display: inline-block;  
}

article a:hover {
    transform: scale(3.5);
    cursor: url("img/arrow-cursor.png"), auto;
}

article span a {
    display: inline;
}

article span {
    width: 100%;
    white-space: nowrap;
    display: inline-block;
    padding-left: 100%;
    padding-right: 100%;
    /* show the marquee just outside the paragraph */
    animation: span 20s linear infinite ;
    font-family:comicsans;
    text-transform: uppercase;  
  }
  
article span:hover {
    animation-play-state: paused;
    color:yellowgreen;
    display:inline-block;
  }
  
  /* Make it move */
  @keyframes span {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }


#mainbody table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    -webkit-hyphens: auto;
            hyphens: auto;
    }

  article table {
      line-height:1em;
  }

  article th {
      font-size:14pt;
  }

  article tr {
    font-size:14pt;
}

  article td {
    font-size:14pt;
    }
  
#mainbody th {
    font-size: 10pt;
    font-family:comicsans;
    text-align: middle;
    border: 1px solid;
    width: 33.3%;
  }
  
#mainbody td{
    font-size: 10pt;
    font-family:comicsans;
    text-align: middle;
    border: 1px solid;
    width: 33.3%;

  }
  
#mainbody tr:nth-of-type(odd) {
    background-color:blue;
    color:red;
  }
  
#mainbody tr:nth-of-type(even) {
    background-color:red;
    color:blue;
  }
  
#mainbody th:hover {
    background-color: #00ff00;
  }

#mainbody td:hover {
    background-color: #00ff00;
  }


#mainbody ol{
    font-family: comicsans;
    font-size: 14pt;
    text-align: left;
    color: yellow; 
}

#mainbody ul{
    font-family: comicsans;
    font-size: 14pt;
    text-align: left;
    color: yellow; 
}

#mainbody li{
    font-family: comicsans;
    font-size: 14pt;
    text-align: left;
    color: yellow; 
}






/*----------EU-DIRECTIVE------------*/  
  .container-eu {
    margin-top: 50px;  
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 20px;
    border: solid black ; 
    font-size: 14pt;
    cursor: url("img/hand-cursor.png"), auto;
    overflow: hidden;
    background: linear-gradient(92deg, #122cdc, #79208f, #b62735, #ed2dd0);
    background-size: 800% 800%;
    -webkit-animation: transition 8s ease infinite;
    animation: transition 8s ease infinite;
}
    
    @-webkit-keyframes transition {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }
    
    @keyframes transition { 
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }


.flex-container{
    width: 100%;
    display: -webkit-flex; /* Safari */     
    display: flex; /* Standard syntax */
    text-align:center;
}

.flex-container h2 {
    text-transform: uppercase;
	font-size: 60pt;
    width:100%;
	text-align: center;
	color: yellow;
	background-color: black;
    font-family: techmono;
    font-weight: bold;
    margin-top:15px;
}

.flex-container h3{
    font-family: techmono;
    text-align: center;
    font-size:30pt;
    color: #FFF;
    background-color: black;
}

.flex-container .col-ing{
    width:50%;
    padding-top:15px;
    padding-bottom:15px;
    padding-left: 10px;
    padding-right:10px;
    -webkit-flex: 1; /* Safari */
    flex: 1; /* Standard syntax */
   }

.flex-container .col-ita{
    width:50%;
    padding-top:15px;
    padding-bottom:15px;
    padding-left: 10px;
    padding-right:10px;
    -webkit-flex: 1; /* Safari */
    flex: 1; /* Standard syntax */
    overflow-x:auto;
   }

.flex-container p {
        font-family: comicsans;
        line-height: 3em;
        font-size:14pt;
        text-align: center;
        color: yellow;
}   

.flex-container a {
    max-height: 6em;
    margin: 0 auto;
    max-width: 100%;
    position:relative;
    color: blue;
    display: inline-block;  
}

.flex-container a:hover {
    transform: scale(3.5);
    cursor: url("img/arrow-cursor.png"), auto;
}

.flex-container span {
    text-align: center;
    font-family:comicsans;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    color: #fff;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
  
.flex-container span:hover {
    color: #FF1177;
    -webkit-animation: none;
    animation: none;
  }
  
  /*glow for webkit*/
  @-webkit-keyframes neon1 {
    from {text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;}
    to {text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;}
  }
  
  /*glow*/
  @keyframes neon1 {
    from {text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;}
    to {text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;}
  }

 




 

  /*--------------ABOUT-------------*/
  .container-about {
    margin-top: 50px;  
        margin-bottom: 50px;
        margin-left: 50px;
        margin-right: 50px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0px;
        padding-bottom: 20px;
        border: solid black ; 
        cursor: url("img/hand-cursor.png"), auto;
        overflow: hidden;
        background: linear-gradient(92deg, #122cdc, #79208f, #b62735, #ed2dd0);
        background-size: 800% 800%;
        -webkit-animation: transition 8s ease infinite;
        animation: transition 8s ease infinite;
    }
        
        @-webkit-keyframes transition {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        
        @keyframes transition { 
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }


.description{
    text-align:center;
    font-family: comicsans;
    font-size:14pt;
    color: yellow;
    line-height: 5em;
    margin: 10px; 
}

#title-about {  
    margin-top:20px;
    text-transform: uppercase;
	font-size: 80pt;
    width:100%;
	text-align: center;
	color: yellow;
	background-color: black;
    font-family: techmono;
    font-weight: bold;
}  

#team {
    font-family: techmono;
    text-align: center;
    font-size:30pt;
    color: #FFF;
    background-color: black;
}

.card {
    background-color:blue;
    overflow: hidden;
}

.card-text {
    text-align: center;
    font-family: comicsans;
    font-size: 14pt;
    color:yellow;
} 

.card h5 {
    font-family: comicsans;
    text-transform: uppercase;
    font-size: 15pt;
    position: relative;
    width: 100%; 
    margin:0;
    text-align:left;
    -webkit-animation: title 3s linear infinite ;
    animation: title 3s linear infinite ;
    color: #FF1177;
    }
    
    @-webkit-keyframes title {
        0%   { -webkit-transform: translateX(70%); }
        100% { -webkit-transform: translateX(0%); }
       }
    
    @keyframes title {
     0%   { 
     -webkit-transform: translateX(70%); /* Firefox bug fix */
     transform: translateX(70%); 		
     }
     100% { 
     -webkit-transform: translateX(0%); /* Firefox bug fix */
     transform: translateX(0%); 
     }
    }

    .card-img-top {
            -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
            filter: blur(3px);
            animation: pulse 3s infinite;
            margin: 0 auto;
            display: table;
            animation-direction: alternate;
            -webkit-animation-name: pulse;
            animation-name: pulse;
          }
          
          @-webkit-keyframes pulse {
            0% {
              -webkit-transform: scale(1);
            }
            50% {
              -webkit-transform: scale(1.1);
            }
            100% {
              -webkit-transform: scale(1);
            }
          }
          
          @keyframes pulse {
            0% {
              transform: scale(1);
            }
            50% {
              transform: scale(1.1);
            }
            100% {
              transform: scale(1);
            }
          }
    






    /*-------DOCUMENTATION--------*/

    .container-documentation { 
        margin-top: 50px;  
        margin-bottom: 50px;
        margin-left: 50px;
        margin-right: 50px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0px;
        padding-bottom: 20px;
        border: solid black ; 
        cursor: url("img/hand-cursor.png"), auto;
        overflow: hidden;
        background: linear-gradient(92deg, #122cdc, #79208f, #b62735, #ed2dd0);
        background-size: 800% 800%;
        -webkit-animation: transition 8s ease infinite;
        animation: transition 8s ease infinite;
    }
        
        @-webkit-keyframes transition {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        
        @keyframes transition { 
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }

        .container-documentation h2 {
                text-transform: uppercase;
                font-size: 80pt;
                width:100%;
                text-align: center;
                color: yellow;
                background-color: black;
                font-family: techmono;
                font-weight: bold;
                margin-top:20px;
        }

        .container-documentation h3 {
            font-family: techmono;
            text-align: center;
            font-size:50pt;
            color: #FFF;
            background-color: black;
            margin-top: 70px;
        }

        .container-documentation h4 {
                text-align: center;
                font-family:comicsans;
                font-size:16pt;
                margin-top:50px;
                text-transform: uppercase;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
                color: #fff;
                -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
                animation: neon1 1.5s ease-in-out infinite alternate;
              }
              
              .container-documentation h4:hover {
                color: #FF1177;
                -webkit-animation: none;
                animation: none;
              }
              
              @-webkit-keyframes neon1 {
                from {text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;}
                to {text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;}
              }
              
              /*glow*/
              @keyframes neon1 {
                from {text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;}
                to {text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;}
              }


        .container-documentation span {
            color: #B6FF00;
            font-family: comicsans;
            font-size: 16pt;
            line-height: 3em;
            margin: 10px;
        }
        
        .container-documentation span:hover {
            -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
            animation: neon4 1.5s ease-in-out infinite alternate;
        }


        @-webkit-keyframes neon4 {
            from {
            text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
            }
            to {
            text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
            }
        }

        @keyframes neon4 {
            from {
              text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
            }
            to {
              text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
            }
          }

        .container-documentation section p{
            font-family: comicsans;
            line-height: 3em;
            text-align: center;
            color: yellow;
            margin: 10px;
            font-size: 14pt;
        }

        .container-documentation a {
            max-height: 6em;
            margin: 0 auto;
            max-width: 100%;
            position:relative;
            color: blue;
            display: inline-block;  
        }
        
        .container-documentation a:hover {
            transform: scale(3.5);
            cursor: url("img/arrow-cursor.png"), auto;
        }



/*---------MEDIA QUERY-------------*/
    @media screen and (max-width: 1024px) {
        #mainbody tr, th, td{
            font-size: 8pt;
            -webkit-hyphens: auto;
            hyphens: auto;
        }

        .flex-container h2 {
            font-size: 40pt;
        }
        
        .flex-container h3{
            font-size:20pt;
        }

        .container-documentation h2 {
            font-size: 60pt;
        }
    }




/*--------------PRINT-------------------*/
    @media only print {
        .nav {
            display: none;
        }
    
        #timeline-wrap {
            display:none;
        }
    
        .footer {
            display:none;
        }
    
        body {
            background-image: none;
        }

        .index-container {
            zoom:65%;
        }


        /*PRINT: ABOUT*/
        #title {
            -webkit-animation: none ;
            animation: none ;
        }

        .container-about {
                background: none;
                zoom:60%;
                border: none;
            }

        .description{
                color: black;
            }  
            
            #team {
                color: black;
                background: none;
            }
            
            .card {
                background:none;
            }
            
           .card-text {
                color:black;
            } 
            
            .card h5 {
                 -webkit-animation: none;
                 animation: none ;
                color: black;
                  }

        
        /*PRINT: DOCUMENTATION*/
        .container-documentation { 
            background: none;
            border: none;
        }

        .container-documentation h3 {
            color: black;
            background: none;
        }

        .container-documentation h4 {
                color: black;
                -webkit-animation: none;
                animation: none;
              }
              
        .container-documentation p{
            color: black;
            line-height: 2em;
        }

        .container-documentation a {
            color: black;
        }

        #millecinque{
            page-break-after:always;
        }
    
        #milleottocolfagotto {
            page-break-after:always;
        }
    
        #ventisettetrecivette{
            page-break-after:always;
        }
    
        #sessantottoadirotto {
            page-break-after:always;
        }
    
        #ottantalasaracanta{
            page-break-after:always;
        }
    
        #title-documentation {
            font-size: 60pt;
        }

        #mainbody ol{
            color: black; 
        }
        
        #mainbody ul{
            color: black; 
        }
        
        #mainbody li{
            color: black; 
        }



        /*PRINT: ARTICLES*/
        article section{
            page-break-after: auto;
            line-height: 3em;
        }     
        
        article { 
            background: none;
            border: none;
        }

        article h3 {
            color: black;
            background: none;
        }
        
        article h4 {
            color: black;    
        }

        article section{
            color: black;
            }

        figcaption{
            background: none;
           color: black;
        }
        
        article a {
          color: black;  
        }
        
        article span {
            animation: none; 
          }




        /*PRINT: TABLE*/  
        #mainbody tr:nth-of-type(odd) {
            background: none;
            color:black;
        }
          
        #mainbody tr:nth-of-type(even) {
            background: none;
            color: black;
        }



        /*PRINT: EU DIRECTIVE */
        .container-eu {
            page-break-after: auto;
            background: none;
            border: none;
        }

        .flex-container h3{
            color: black;
            background: none;
        }
        
        .flex-container p {
            color: black;
            line-height: 2em;
        }   

        .flex-container a {
            color: black;
        }

        .flex-container span {
            color: black;
            -webkit-animation: none;
            animation: none; 
        }
  
        .flex-container span:hover {
            color: black;
            -webkit-animation: none;
            animation: none;
        }
          
    }
