@font-face
{
font-family: "arcade_classic";
src: url("font/arcade_baby/arcade_classic.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: "pac_font";
src: url("font/arcade_baby/pac_font.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: "games";
src: url("font/arcade_baby/games.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: "retronoid";
src: url("font/arcade_baby/retronoid.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: "emulogic";
src: url("font/arcade_baby/emulogic.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: "allstar4";
src: url("font/arcade_baby/allstar4.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: "postman";
src: url("font/arcade_baby/postman.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: "lowrider";
src: url("font/arcade_baby/lowrider.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: "death_star";
src: url("font/arcade_baby/death_star.otf") format("opentype");
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: "crackman.regular";
src: url("font/arcade_baby/crackman.regular.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face   
{
font-family: "sf-atarian-system.regular";
src: url("font/arcade_baby/sf-atarian-system.regular.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: "1STSORTI";
src: url("font/1STSORTI.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: "blrrpixs016";
src: url("font/blrrpixs016.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: "urnordiskarunor";
src: url("font/arcade_baby/urnordiskarunor.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}

* {
    font-family: 'lowrider';
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    cursor : url(img/arcade_baby/cursor.png), auto;
}

body {
    background: url(img/arcade_baby/back.jpg); 
}


section:last-of-type {
padding-left: 20px;
padding-right: 20px;
}


article {
    margin: 3% 12%; 
    padding-left: 50px; 
    padding-right: 50px;  
    padding-top: 20px;   
    text-align: justify; 
    font-size: 16px;   
    background: #000000;
    background-image: radial-gradient(#222222 50%, transparent 0);  
  background-size: 10px 10px; 
  border: 16px solid #000000;
  border-radius: 24px; 
  }


article section  {
margin-top: 20px;
margin-bottom: 20px;
padding: 0 20px;
font-family: 'lowrider';

}

article section:nth-of-type(1) {
background: none;
border:none;
}


section p:nth-of-type(odd) {
    font-size:28px;
    line-height: 28px;  
    color:#ffffff;
}

section p:nth-of-type(even) {
    font-size:28px;
    line-height: 28px;  
    color:#ffffff;
}


section p:nth-of-type(1) {
    font-size:28px;
    line-height: 28px;   
    color:#ffffff;
}


section p:first-letter{
    color:#0000CD;
    font-size:32px;     
    line-height: 28px;
}

p {
font-family: 'sf-atarian-system.regular';
}

q {
display: block;
font-family: 'games';
color:#FFD700;
font-size:22px;
}


p strong, em {
font-family: 'games';
color:#0000CD;
font-size:22px;
}


p i {
font-family: 'games';
color:#0000CD;
font-size:22px;
}


p a {
font-family: 'games';
font-size: 17px;
color:#800080;
text-decoration: underline;
}


h1, h2, h3, h4 {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
}
h1 {
font-size: 24px;
line-height: 50px; 
color:#FF0000;
font-family: 'emulogic';
}
h2 {
font-size: 24px;
line-height: 46px;
color:#0000CD;
font-family: 'emulogic';
}
h3 {
font-size: 20px;
line-height: 36px;
color:#FFD700;
font-family: 'emulogic';
}
h4 {
font-size: 20px;
line-height: 34px;
color:#FFD700;
font-family: 'emulogic';
}


article img {
    max-width: 80%; 
    height: auto;
    display: block; 
    margin: 0 auto;  
    margin-top: 20px;
    margin-bottom: 20px;
   
    border: 15px double #0000aa; 
    border-radius: 12px;
    filter: grayscale(35%) sepia(0.12) opacity(1) contrast(127%);
    -webkit-filter: grayscale(35%) sepia(0.12) opacity(1) contrast(127%);
}


figcaption {
margin-bottom: 30px;
font-size: 20px;
color:#FFD700;
font-family: 'death_star';
font-style: italic;
text-align: center;
}


table {
margin-top: 20px;
margin-bottom: 20px;
margin-left:auto; 
margin-right:auto;
}


table tr:nth-of-type(odd) {
  background: #333333;
  }

table tr:nth-of-type(even) {
  background: #999999;
  }


table th {
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
font-family: 'games';
font-size: 30px;
color:#00cccc;
text-align: center;
}

table td {
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
font-family: 'emulogic';
font-size: 18px;
color:#ffffff;
}


#timeline { 
  opacity:0.8; 


div {
color: #BA55D3;
}



.dot-info span.label {
font-family: 'emulogic';
font-size: 12px;
color: #333333;
}
.dot-info span.year {
font-family: 'emulogic';
font-size: 12px;
color: #444444;
}




.container-eu {
    margin: 3% 12%; 
    padding-left: 50px; 
    padding-right: 50px;  
    padding-top: 20px;  
    padding-bottom: 40px; 
    text-align: justify; 
    font-size: 16px;   
    background: #000000;
    background-image: radial-gradient(#222222 50%, transparent 0); 
  background-size: 10px 10px; 
  border: 16px solid #000000; 
  border-radius: 24px; 
  overflow: hidden; 
}


.container-eu .flex-container {
display: -webkit-flex;
display: flex;
margin: 0 auto;
margin-top: 20px;
margin-bottom: 20px;
padding: 20px;
font-family: 'lowrider';
}


.container-eu .flex-container p {
    font-size:28px;
    line-height: 28px;   
    color:#ffffff;
}

.container-eu .flex-container .col-ita p {
    font-size:28px;
    line-height: 28px;  
    color:#ffffff;
}

.container-eu .flex-container .col-ing p {
    font-size:28px;
    line-height: 28px;   
    color:#ffffff;
}



.container-eu .flex-container .col-ing {
margin-top: 30px;
-webkit-flex: 1;
flex: 1;
margin-left:15px;
margin-right:15px;
}


.container-eu .flex-container .col-ita {
margin-top: 30px;
-webkit-flex: 1;
flex: 1;
margin-left:15px;
margin-right:15px;
}


.container-eu a {
font-size: 19px;
color:#009900;
}

.container-eu sup {
font-family: 'sf-atarian-system.regular';
color:#ffffff;
}


.container-eu ul {
padding: 15px 15px;
list-style: none;  
}
.container-eu li {
padding: 20px 20px;
font-family: 'emulogic';
font-size: 14px;
line-height: 20px;

}

.container-eu li:nth-of-type(odd) {
background: #333333;
color:#CCCCCC;
}
.container-eu li:nth-of-type(even) {
background: #999999;
color:#444444;
}


.container-eu table {
margin-top: 20px;
margin-bottom: 20px;
margin-left:auto;
margin-right:auto;
word-break: break-word;
}


.container-eu table tr:nth-of-type(odd) {
  background: #333333;
  }

.container-eu table tr:nth-of-type(even) {
  background: #999999;
  }


.container-eu table th {
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
font-family: 'games';
font-size: 30px;
color:#00cccc;
text-align: center;
}

.container-eu table td {
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
font-family: 'emulogic';
font-size: 13px;
border-left: 2px solid #ffffff;
color:#ffffff;
}
.container-eu table td:nth-of-type(1) {
border-left: none;
}


::-webkit-scrollbar {
  width: 17px;
}


::-webkit-scrollbar-track {
  background: black;
    box-shadow: inset 0 0 5px wheat;
  border-radius: 15px;
}


::-webkit-scrollbar-thumb {
  background: white;
    border-radius: 15px;

}


::-webkit-scrollbar-thumb:hover {
  background: #ffe100; 
}



