@font-face
{
font-family: "arcade_classic";
src: url("font/arcade_baby/arcade_classic.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: "pac_font";
src: url("font/arcade_baby/pac_font.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: "games";
src: url("font/arcade_baby/games.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: "retronoid";
src: url("font/arcade_baby/retronoid.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: "emulogic";
src: url("font/arcade_baby/emulogic.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: "allstar4";
src: url("font/arcade_baby/allstar4.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: "postman";
src: url("font/arcade_baby/postman.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: "lowrider";
src: url("font/arcade_baby/lowrider.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: "death_star";
src: url("font/arcade_baby/death_star.otf") format("opentype");
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: "crackman.regular";
src: url("font/arcade_baby/crackman.regular.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face   
{
font-family: "sf-atarian-system.regular";
src: url("font/arcade_baby/sf-atarian-system.regular.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: "1STSORTI";
src: url("font/1STSORTI.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: "blrrpixs016";
src: url("font/blrrpixs016.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: "urnordiskarunor";
src: url("font/arcade_baby/urnordiskarunor.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}


/*загружаем новый шрифт, кладем в нужную папку font/arcade_baby
копируем новый блок выше
@font-face
{
font-family: "name";
src: url("font/arcade_baby/name.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}
и вместо name пишем название файла и название шрифта, и это же название в стилях писать в font-family
*** для otf прописать format("opentype") и расширение файла поменять
названия шрифта лучше без пробела, и маленькими буквами сделать
*/




/*здесь по умолчанию стили, используются если для какого-то тега нет стилей*/
* {
    font-family: 'lowrider';
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    cursor : url(img/arcade_baby/cursor.png), auto;
}

body {
    background: url(img/arcade_baby/back.jpg);   /*картинка фона страницы*/
    background-size: 100%; /*растянули по размеру экрана*/
}

/*секция со статьями, особо не надо менять */
section:last-of-type {
padding-left: 20px;
padding-right: 20px;
}

/*основное окно под всю статью*/
article {
    margin: 3% 12%; /* отступ окна статьи, по вертикали и горизонтали от краев браузера */
    padding-left: 50px; /*оступ текста в статье от края окна, слева   */
    padding-right: 50px;   /*справа  */
    padding-top: 20px;   /* сверху*/
    padding-bottom: 40px; /*снизу */
    text-align: justify; /* тип выравнивания текста в статье, justify - на всю ширину */
    font-size: 16px;    /*размер шрифта тут, если явно не указан в других тегах */
    background: #000000;
    background-image: radial-gradient(#222222 50%, transparent 0);  /*фон кружков, код цвета*/
  background-size: 10px 10px; /*размер кружков фона*/
  border: 16px solid #000000; /* рамка окна статей     размер, тип solid - сплошная линия, цвет */
  border-radius: 24px; /* закругление рамки окна статей   */
  }

/*каждая секция, или абзац*/
article section  {
margin-top: 20px;
margin-bottom: 20px;
padding: 0 20px;
font-family: 'lowrider';

}

article section:nth-of-type(1) {
background: none;
border:none;
}

/*текста статей в зависимости от номера абзаца, четный и нечетный параграфы*/
section p:nth-of-type(odd) {
    font-size:28px;
    line-height: 28px;   /*межстрочный интервал  */
    color:#ffffff;
}

section p:nth-of-type(even) {
    font-size:28px;
    line-height: 28px;   /*межстрочный интервал  */
    color:#ffffff;
}

/*стиль самого первого абзаца*/
section p:nth-of-type(1) {
    font-size:28px;
    line-height: 28px;    /*межстрочный интервал  */
    color:#ffffff;
}

/*первая буква в абзацах*/
section p:first-letter{
    color:#0000CD;
    font-size:32px;     /*межстрочный интервал  */
    line-height: 28px;
}

/*текст всех статей*/
p {
font-family: 'sf-atarian-system.regular';
}

/*тег цитат*/
q {
display: block;
font-family: 'games';
color:#FFD700;
font-size:22px;
}

/*выделенный текст*/
p strong, em {
font-family: 'games';
color:#0000CD;
font-size:22px;
}

/*выделенный курсив*/
p i {
font-family: 'games';
color:#0000CD;
font-size:22px;
}

/*текст ссылки в статье*/
p a {
font-family: 'games';
font-size: 17px;
color:#800080;
text-decoration: underline;
}

/*заголовки*/
h1, h2, h3, h4 {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
}
h1 {
font-size: 24px;
line-height: 50px; /*межстрочный интервал*/
color:#FF0000;
font-family: 'emulogic';
}
h2 {
font-size: 24px;
line-height: 46px;
color:#0000CD;
font-family: 'emulogic';
}
h3 {
font-size: 20px;
line-height: 36px;
color:#FFD700;
font-family: 'emulogic';
}
h4 {
font-size: 20px;
line-height: 34px;
color:#FFD700;
font-family: 'emulogic';
}

/*фотографии*/
article img {
    max-width: 80%;  /*ширина от размера окна*/
    height: auto;
    display: block;  /*надо задавать фото блоком, чтобы отступы можно было делать */
    margin: 0 auto;   /*выравание по горизонтали по центру   0 - по вертикали отступ, auto по горзонтали отступ слева и справа, auto значит одинаковый, поэтому по центру получается  */
    margin-top: 20px;
    margin-bottom: 20px;
    /*border: 8px solid #ffffff;*/ /*рамка фото */
    border: 15px double #0000aa; /*рамка фото  double двойная, отступ и размер вместе задается*/
    border-radius: 12px;
    filter: grayscale(43%) sepia(0.44) saturate(1) contrast(198%);
-webkit-filter: grayscale(43%) sepia(0.44) saturate(1) contrast(198%);
}

/*обычно подпись под картинкой*/
figcaption {
margin-bottom: 30px;
font-size: 20px;
color:#FFD700;
font-family: 'lowrider';
font-style: italic;
text-align: center;
}

/*таблица*/
table {
margin-top: 20px;
margin-bottom: 20px;
margin-left:auto; /*выравнивание таблицы по центру  */
margin-right:auto;
}

/*чередуем фон таблицы по четностистрок*/
table tr:nth-of-type(odd) {
  background: #333333;
  }

table tr:nth-of-type(even) {
  background: #999999;
  }

/*заголовок таблицы*/
table th {
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
font-family: 'games';
font-size: 30px;
color:#00cccc;
text-align: center;
}
/*ячейки таблицы*/
table td {
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
font-family: 'emulogic';
font-size: 18px;
color:#ffffff;
}

/*общий стиль временной линии*/
#timeline { 
  opacity:0.8; /*прозрачность от общего цвета*/
}

/*на все непонятное*/
div {
color: #BA55D3;
}


/*Текст на временной линии*/
.dot-info span.label {
font-family: 'emulogic';
font-size: 12px;
color: #333333;
}
.dot-info span.year {
font-family: 'emulogic';
font-size: 12px;
color: #444444;
}


/*/////////////////статья EUDIRECTIVE////////////////////*/

/*окно*/
.container-eu {
    margin: 3% 12%; /* отступ окна статьи, по вертикали и горизонтали от краев браузера */
    padding-left: 50px; /*оступ текста в статье от края окна, слева   */
    padding-right: 50px;   /*справа  */
    padding-top: 20px;   /* сверху*/
    padding-bottom: 40px; /*снизу */
    text-align: justify; /* тип выравнивания текста в статье, justify - на всю ширину */
    font-size: 16px;    /*размер шрифта тут, если явно не указан в других тегах */
    background: #000000;
    background-image: radial-gradient(#222222 50%, transparent 0);  /*фон кружков, код цвета*/
  background-size: 10px 10px; /*размер кружков фона*/
  border: 16px solid #000000; /* рамка окна статей     размер, тип solid - сплошная линия, цвет */
  border-radius: 24px; /* закругление рамки окна статей   */
  overflow: hidden; /*если контент больше окна, не выводим за пределы*/
}

/*отдельные блоки*/
.container-eu .flex-container {
display: -webkit-flex;
display: flex;
margin: 0 auto;
margin-top: 20px;
margin-bottom: 20px;
padding: 20px;
font-family: 'lowrider';
}

/*обычные параграфы*/
.container-eu .flex-container p {
    font-size:28px;
    line-height: 28px;   /*межстрочный интервал  */
    color:#ffffff;
}

.container-eu .flex-container .col-ita p {
    font-size:28px;
    line-height: 28px;   /*межстрочный интервал  */
    color:#ffffff;
}

.container-eu .flex-container .col-ing p {
    font-size:28px;
    line-height: 28px;   /*межстрочный интервал  */
    color:#ffffff;
}




/*отдельные правила на блок col-ing   */
.container-eu .flex-container .col-ing {
margin-top: 30px;
-webkit-flex: 1;
flex: 1;
margin-left:15px;
margin-right:15px;
}

/*отдельные правила на блок col-ita*/
.container-eu .flex-container .col-ita {
margin-top: 30px;
-webkit-flex: 1;
flex: 1;
margin-left:15px;
margin-right:15px;
}

/*ссылки*/
.container-eu a {
font-size: 19px;
color:#009900;
}
/*цифра текст-сноска   */
.container-eu sup {
font-family: 'sf-atarian-system.regular';
color:#ffffff;
}

/*Списки*/
.container-eu ul {
padding: 15px 15px;
list-style: none;  /*без значка*/
}
/*текст списка*/
.container-eu li {
padding: 20px 20px;
font-family: 'emulogic';
font-size: 14px;
line-height: 20px;
/*border-top:1px solid #ffffff;   */
}

.container-eu li:nth-of-type(odd) {
background: #333333;
color:#CCCCCC;
}
.container-eu li:nth-of-type(even) {
background: #999999;
color:#444444;
}

/*таблицы в EUDIRECTIVE*/
.container-eu table {
margin-top: 20px;
margin-bottom: 20px;
margin-left:auto;
margin-right:auto;
word-break: break-word; /*перенос слов*/
}

/*чередуем фон таблицы по четностистрок*/
.container-eu table tr:nth-of-type(odd) {
  background: #333333;
  }

.container-eu table tr:nth-of-type(even) {
  background: #999999;
  }

/*заголовок таблицы*/
.container-eu table th {
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
font-family: 'games';
font-size: 30px;
color:#00cccc;
text-align: center;
}
/*ячейки таблицы*/
.container-eu table td {
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
font-family: 'emulogic';
font-size: 13px;
border-left: 2px solid #ffffff;
color:#ffffff;
}
.container-eu table td:nth-of-type(1) {
border-left: none;
}

/*новый скролл*/
/* width */
::-webkit-scrollbar {
  width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
    box-shadow: inset 0 0 5px wheat;
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
    border-radius: 15px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: salmon;
}



