@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

body {
    background-image: url("img/future/hand.png");
	background-position: center top;
	  background-repeat: no-repeat;
}



article {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  box-sizing: border-box;
  overflow: auto;
  width: 278px;
  max-height: 532px;
  margin-left: 622px;
  margin-top: 255px;
  margin-bottom: 224px;
  display: inline-block;
  font-family: 'Exo 2', sans-serif;
  font-size: 10pt;
  letter-spacing: .06em;
  background-color: rgba(120, 200, 255, 0.1);
  border: 1px solid rgba(120, 200, 255, 0.2);
  color: black;
  border-radius: 15px;
  text-align: justify;
  
    -webkit-animation: breathing 7s ease-out infinite normal;
    animation: breathing 7s ease-out infinite normal;
    }
	
img {
  transition: transform .3s;
}

img:hover {
	transform: scale(1.9);
	margin-bottom: 40px;
}

h1 {
  font-family: 'Exo 2', sans-serif;
  font-size: 13pt;	
  border-bottom: 1px solid rgba(120, 200, 255, 0.2);
  text-transform: uppercase;  
}

h2 {
  font-family: 'Exo 2', sans-serif;
  font-size: 12pt;	
  border-bottom: 1px solid rgba(120, 200, 255, 0.2);
  text-transform: uppercase;  
}

h3 {
  font-family: 'Exo 2', sans-serif;
  font-size: 11pt;	
  border-bottom: 1px solid rgba(120, 200, 255, 0.2);
  text-transform: uppercase;  
}

h4 {
  font-family: 'Exo 2', sans-serif;
  font-size: 11pt;	
  border-bottom: 1px solid rgba(120, 200, 255, 0.2);
  text-transform: uppercase;  
}

* {
font-family: 'Exo 2', sans-serif; }

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }

  100% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98) rotate(-7deg);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1) rotate(-7deg);
  }

  60% {
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98) rotate(-7deg);
  }

  100% {
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    transform: scale(0.98) rotate(-7deg);
  }
}


@keyframes bg-breathing {
  0% {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
}



/* width */
article::-webkit-scrollbar {
  width: 5px;
}

/* Track */
article::-webkit-scrollbar-track {
  background: rgba(120, 200, 255, 0.1); 
    box-shadow: inset 0 0 5px grey; 
  border-radius: 15px;
}
 
/* Handle */
article::-webkit-scrollbar-thumb {
  background: rgba(0,121,171,0.5); 
    border-radius: 15px;
}

/* Handle on hover */
article::-webkit-scrollbar-thumb:hover {
  background: rgba(0,50,93,0.9); 
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(120, 200, 255, 0.1); 
    box-shadow: inset 0 0 5px grey; 
  border-radius: 15px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,121,171,0.5); 
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,50,93,0.9); 
}






article img{
	height: auto;
	margin-left: 23%;
	max-width: 50%;	
	margin-top: 20px;
	margin-bottom: 20px;
}

.futurepanel .futurepanel__header {
  box-sizing: border-box;
  border-bottom: 1px solid rgba(120, 200, 255, 0.2);
}
/*
h1 {
  box-sizing: content-box;
  width: 100%;  
  font: normal 100 1.429em/1em "Exo 2", Arial, sans-serif;
  text-transform: uppercase;
  padding: .4em 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}*/

.futurepanel .futurepanel__body {
  box-sizing: border-box;
  padding: 1em;
}
.futurepanel .futurepanel__divider {
  box-sizing: border-box;
  height: .6em;
  margin-top: .6em;
  border-top: 1px solid rgba(120, 200, 255, 0.2);
}
.futurepanel .futurepanel__footer {
  box-sizing: border-box;
  height: 2em;
  font-size: .8em;
  color: rgba(120, 200, 255, 0.2);
}

.futureinput {
  font: normal 100 16px/1.2em "Exo 2", Arial, sans-serif;
  letter-spacing: .06em;
  color: rgba(120, 200, 255, 0.8);
  margin: 0;
  padding: 0;
}
.futureinput label {
  font: normal 100 1em/1.8em "Exo 2", Arial, sans-serif;
  margin: 0 0 4em 0;
}
.futureinput label.required:after {
  display: relative;
  content: '*';
  padding-left: .2em;
  color: rgba(255, 120, 120, 0.8);
  font: normal 100 1em/1.8em "Exo 2", Arial, sans-serif;
}
.futureinput input[type="text"] {
  font: normal 100 1em/2.4em "Exo 2", Arial, sans-serif;
  background-color: rgba(120, 200, 255, 0.1);
  border: 1px solid rgba(120, 200, 255, 0.2);
  color: rgba(120, 200, 255, 0.8);
  height: 2.4em;
  box-sizing: border-box;
  padding: 0 .8em;
  letter-spacing: .06em;
  width: 100%;
}
.futureinput input[type="text"]:focus {
  background-color: rgba(120, 200, 255, 0.2);
  border: 1px solid rgba(120, 200, 255, 0.3);
  color: rgba(120, 200, 255, 0.9);
  outline: none;
}
.futureinput input[type="text"]::-webkit-input-placeholder {
  color: rgba(120, 200, 255, 0.5);
  font: normal 100 1em/2.4em "Exo 2", Arial, sans-serif;
}
.futureinput input[type="text"]:-moz-placeholder {
  color: rgba(120, 200, 255, 0.5);
  font: normal 100 1em/2.4em "Exo 2", Arial, sans-serif;
}
.futureinput input[type="text"][disabled] {
  background-color: rgba(120, 200, 255, 0.04);
  border: 1px solid rgba(120, 200, 255, 0.06);
  color: rgba(120, 200, 255, 0.2);
  cursor: not-allowed;
}
.futureinput input[type="text"][disabled]::-webkit-input-placeholder {
  color: rgba(120, 200, 255, 0.2);
}
.futureinput input[type="text"][disabled]:-moz-placeholder {
  color: rgba(120, 200, 255, 0.2);
}
.futureinput .futureinput__help {
  display: block;
  font: normal 100 0.8em/1.2em "Exo 2", Arial, sans-serif;
  padding: .6em 0;
  color: rgba(120, 200, 255, 0.5);
}
.futureinput .futureinput__error {
  display: block;
  font: normal 100 0.8em/1.2em "Exo 2", Arial, sans-serif;
  text-transform: uppercase;
  padding: .6em 0;
  color: rgba(255, 120, 120, 0.8);
}

.futurebutton {
  font: normal 300 14px/1.2em "Exo 2", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: .06em;
  color: rgba(255, 255, 255, 0.8);
  margin: 1px;
  padding: .4em 1em;
  border: 1px solid rgba(120, 200, 255, 0.2);
  background-color: rgba(120, 200, 255, 0.6);
  cursor: pointer;
}
.futurebutton:hover {
  background-color: rgba(120, 200, 255, 0.4);
  color: rgba(255, 255, 255, 0.6);
}
.futurebutton[disabled] {
  background-color: rgba(120, 200, 255, 0.2);
  border: 1px solid rgba(120, 200, 255, 0.1);
  color: rgba(255, 255, 255, 0.3);
  cursor: not-allowed;
}

.futurebutton--alert {
  background-color: rgba(120, 0, 0, 0.9);
  border: 1px solid rgba(255, 120, 120, 0.4);
  color: rgba(255, 255, 255, 0.8);
}
.futurebutton--alert:hover {
  background-color: rgba(120, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.8);
}
.futurebutton--alert[disabled] {
  background-color: rgba(120, 0, 0, 0.2);
  border: 1px solid rgba(255, 120, 120, 0.2);
  color: rgba(255, 255, 255, 0.4);
}

.futuremetric {
  font: normal 300 14px/1.2em "Exo 2", Arial, sans-serif;
  box-sizing: border-box;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .06em;
  border: 1px solid rgba(120, 200, 255, 0.4);
  color: rgba(120, 200, 255, 0.8);
  height: 6em;
  width: 6em;
  margin: 0;
  padding: .4em;
  text-align: center;
  border-radius: 50%;
}
.futuremetric .futuremetric__value {
  font: normal 300 2em/1.2em "Exo 2", Arial, sans-serif;
  margin-top: .4em;
}
.futuremetric .futuremetric__value--optimal {
  color: rgba(100, 200, 100, 0.8);
}
.futuremetric .futuremetric__value--optimal:hover {
  color: #64c864;
}
.futuremetric .futuremetric__value--warning {
  color: rgba(255, 200, 0, 0.8);
}
.futuremetric .futuremetric__value--warning:hover {
  color: #ffc800;
}
.futuremetric .futuremetric__value--alert {
  color: rgba(255, 120, 120, 0.8);
}
.futuremetric .futuremetric__value--alert:hover {
  color: #ff7878;
}
.futuremetric .futuremetric__label {
  font-size: .8em;
}

.futuregrid {
  font: normal 300 14px/1.2em "Exo 2", Arial, sans-serif;
  box-sizing: border-box;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .06em;
  border: 1px solid rgba(120, 200, 255, 0.4);
  color: rgba(120, 200, 255, 0.8);
  margin: 0;
  padding: 0;
  width: 100%;
}
.futuregrid .futuregrid__cell {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  border-right: 1px solid rgba(120, 200, 255, 0.4);
  border-bottom: 1px solid rgba(120, 200, 255, 0.4);
  height: 3.6em;
  width: 3.6em;
  text-align: center;
}

.heading {
  font: normal 100 12px/1.2em 'Exo 2', Arial, sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

h6.heading {
  font-size: 1em;
}

h5.heading {
  font-size: 1.143em;
}

h4.heading {
  font-size: 1.286em;
}

h3.heading {
  font-size: 1.429em;
}

h2.heading {
  font-size: 1.714em;
}

h1.heading {
  font-size: 2em;
  border-bottom: 1px solid rgba(0, 255, 255, 0.2);
}

img {
  box-sizing: border-box;
  overflow: auto;
  }