@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300i,400,400i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');

body {
    background-image: url("img/future/hand.png");
	background-position: center top;
	background-repeat: no-repeat;
	  font-size: 11pt;
}

* {
	font-family: 'Exo 2', sans-serif;
}

strong {
font-style: bold;
color: rgb(0, 50, 93);
}

a {
text-decoration: underline;
}

em {
font-style: oblique;	
}

article {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  box-sizing: border-box;
  overflow: auto;
  width: 278px;
  max-height: 532px;
  
							margin-left: 37.12em;
							margin-top: 6.57em;
							margin-bottom: 9.8em;
  
  display: inline-block;
  font-family: 'Exo 2', sans-serif;
  font-size: 11pt;
  letter-spacing: .06em;
  background-color: rgba(120, 200, 255, 0.1);
  border: 1px solid rgba(120, 200, 255, 0.2);
  color: black;
  border-radius: 15px;
  text-align: justify;
  
    -webkit-animation: breathing 7s ease-out infinite normal;
    animation: breathing 7s ease-out infinite normal;
    }
	
	
	
article:before {
box-sizing: content-box;
font-family: 'Slabo 27px', serif;
content:"Welcome back, Mr. Fabio. I have selected for you the latest news:";
font-style: italic;

background-color: rgba(0,121,171,0.1);
border: 1px solid rgba(0,121,171,0.2);
  font-size: 13pt;	
  text-align: justify;
    border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
margin: auto;  
  margin-top: 8px;
  margin-bottom: 10px; 
    display: block;
}	


section:first-of-type:before {
box-sizing: content-box;
content:"";
height: 115px;
background-repeat:no-repeat;
background-image: url('img/future/website.gif');
  background-size: 230px;
  border-radius: 3px;
opacity: 0.5;  
background-color: rgba(0,121,171,0.1);
border: 1px solid rgba(0,121,171,0.2);
color: rgb(0, 50, 93);
  text-align: justify;
    border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
margin: auto;  
  margin-top: 8px;
  margin-bottom: 20px; 
    display: block;
  -webkit-filter: contrast(150%); /* Safari */
  filter: contrast(150%);
}	


section > div {
  float: right;
  width: 100px;
  height: auto;
  font-size: 11pt;
  margin-left: 15px;
    margin-top: 10px;
    border-radius: 5px;  
	padding: 2px;
  text-align: center;
  color: white;

line-height: 1.5;

	    border: 1px solid rgba(0,121,171,0.8);	
		    background-color:rgba(0,121,171,0.5);
		border-radius: 3px;
}

figcaption {
    font-size: 10pt;
    margin-top: 10pt;
    -webkit-hyphens: auto;
            hyphens: auto;
	text-align: center;
	

  margin: 10px 10px 10px 10px;
  text-align: center;
  height: auto;
  box-sizing: content-box;

  width: auto;
padding: 2%;
	
	    border: 1px solid rgba(0,121,171,0.8);	
		    background-color:rgba(0,121,171,0.5);
		border-radius: 3px;
		
  color: white;		
	  }
	  
section > p {

text-indent: 7px;}

section:nth-of-type(1):after {
box-sizing: content-box;
content:"";
height: 115px;
background-repeat:no-repeat;
background-image: url('img/future/ad.jpg');
  background-size: 230px;
  border-radius: 3px;
opacity: 0.9;  
background-color: rgba(0,121,171,0.1);
border: 1px solid rgba(0,121,171,0.2);
color: rgb(0, 50, 93);
  text-align: justify;
    border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
margin: auto;  
  margin-top: 8px;
  margin-bottom: 8px; 
    display: block;	
}	


section:nth-of-type(2):after {
box-sizing: content-box;
content:"";
height: 115px;
background-repeat:no-repeat;
background-image: url('img/future/ad.jpg');
  background-size: 230px;
  border-radius: 3px;
opacity: 0.9;  
background-color: rgba(0,121,171,0.1);
border: 1px solid rgba(0,121,171,0.2);
color: rgb(0, 50, 93);
  text-align: justify;
    border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
margin: auto;  
  margin-top: 8px;
  margin-bottom: 8px; 
    display: block;	
}	

  
section:nth-of-type(3):after {
box-sizing: content-box;
content:"";
height: 115px;
background-repeat:no-repeat;
background-image: url('img/future/ad2.jpg');
  background-size: 230px;
  border-radius: 3px;
opacity: 0.9;  
background-color: rgba(0,121,171,0.1);
border: 1px solid rgba(0,121,171,0.2);
color: rgb(0, 50, 93);
  text-align: justify;
    border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-top: 10px;
margin: auto;  
  margin-top: 8px;
  margin-bottom: 40px; 
    display: block;
}	  
 


section:nth-of-type(6):after {
box-sizing: content-box;
content:"";
height: 115px;
background-repeat:no-repeat;
background-image: url('img/future/ad3.jpg');
  background-size: 230px;
  border-radius: 3px;
opacity: 0.9;  
background-color: rgba(0,121,171,0.1);
border: 1px solid rgba(0,121,171,0.2);
color: rgb(0, 50, 93);
  text-align: justify;
    border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-top: 10px;
margin: auto;  
  margin-top: 8px;
  margin-bottom: 40px; 
    display: block;
}	 


  
section:nth-of-type(6):after {
box-sizing: content-box;
content:"";
height: 115px;
background-repeat:no-repeat;
background-image: url('img/future/ad3.jpg');
  background-size: 230px;
  border-radius: 3px;
opacity: 0.9;  
background-color: rgba(0,121,171,0.1);
border: 1px solid rgba(0,121,171,0.2);
color: rgb(0, 50, 93);
  text-align: justify;
    border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-top: 10px;
margin: auto;  
  margin-top: 8px;
  margin-bottom: 40px; 
    display: block;
}	  
 

  /* no 8! */
section:nth-of-type(7):after {
box-sizing: content-box;
content:"";
height: 115px;
background-repeat:no-repeat;
background-image: url('img/future/ad4.jpg');
  background-size: 230px;
  border-radius: 3px;
opacity: 0.9;  
background-color: rgba(0,121,171,0.1);
border: 1px solid rgba(0,121,171,0.2);
color: rgb(0, 50, 93);
  text-align: justify;
    border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-top: 10px;
margin: auto;  
  margin-top: 8px;
  margin-bottom: 40px; 
    display: block;
}	 



section:nth-of-type(9):after {
box-sizing: content-box;
content:"";
height: 115px;
background-repeat:no-repeat;
background-image: url('img/future/ad5.jpg');
  background-size: 230px;
  border-radius: 3px;
opacity: 0.9;  
background-color: rgba(0,121,171,0.1);
border: 1px solid rgba(0,121,171,0.2);
color: rgb(0, 50, 93);
  text-align: justify;
    border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-top: 10px;
margin: auto;  
  margin-top: 8px;
  margin-bottom: 40px; 
    display: block;
}	



section:nth-of-type(10):after {
box-sizing: content-box;
content:"";
height: 115px;
background-repeat:no-repeat;
background-image: url('img/future/ad5.jpg');
  background-size: 230px;
  border-radius: 3px;
opacity: 0.9;  
background-color: rgba(0,121,171,0.1);
border: 1px solid rgba(0,121,171,0.2);
color: rgb(0, 50, 93);
  text-align: justify;
    border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-top: 10px;
margin: auto;  
  margin-top: 8px;
  margin-bottom: 40px; 
    display: block;
}	


section:nth-of-type(12):after {
box-sizing: content-box;
content:"";
height: 115px;
background-repeat:no-repeat;
background-image: url('img/future/ad5.jpg');
  background-size: 230px;
  border-radius: 3px;
opacity: 0.9;  
background-color: rgba(0,121,171,0.1);
border: 1px solid rgba(0,121,171,0.2);
color: rgb(0, 50, 93);
  text-align: justify;
    border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-top: 10px;
margin: auto;  
  margin-top: 8px;
  margin-bottom: 40px; 
    display: block;
}	



section:nth-of-type(14):after {
box-sizing: content-box;
content:"";
height: 115px;
background-repeat:no-repeat;
background-image: url('img/future/ad5.jpg');
  background-size: 230px;
  border-radius: 3px;
opacity: 0.9;  
background-color: rgba(0,121,171,0.1);
border: 1px solid rgba(0,121,171,0.2);
color: rgb(0, 50, 93);
  text-align: justify;
    border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-top: 10px;
margin: auto;  
  margin-top: 8px;
  margin-bottom: 40px; 
    display: block;
}	





section:last-of-type:after {
box-sizing: content-box;
font-family: 'Slabo 27px', serif;
 font-style: italic;
content:"Did you enjoy your article, Mr. Fabio? I can show you more.";

background-color: rgba(0,121,171,0.1);
border: 1px solid rgba(0,121,171,0.2);
  font-size: 14pt;	
  text-align: justify;
    border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
margin: auto;  
  margin-top: 40px;
  margin-bottom: 10px; 
    display: block;
}	

article:after {
box-sizing: content-box;
content:"";
height: 90px;
background-repeat:no-repeat;
background-image: url('img/future/light.gif');
  background-size: 230px;
  border-radius: 3px;
opacity: 0.7;  
background-color: rgba(0,121,171,0.1);
border: 1px solid rgba(0,121,171,0.2);
color: rgb(0, 50, 93);
  text-align: justify;
    border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px; 
  margin-top: 20px;
  margin-bottom: 10px; 
    display: block;
}	


	
img {
  transition: transform .3s;
  border-radius: 2px;
}

img:hover {
	transform: scale(1.9);
	margin-bottom: 40px;
}


	
h1 {
  font-family: 'Exo 2', sans-serif;
  font-size: 14pt;	
  border-bottom: 1px solid rgba(0,121,171,0.2);
  padding-bottom: 5px;
    padding-top: 5px;
  text-transform: uppercase;  
  
  text-align: center;
    display: block;
line-height: 1.5;

	    border: 1px solid rgba(0,121,171,0.5);	
		    background-color:rgba(0,121,171,0.2);
		border-radius: 3px;
		padding-left: 5px;
		padding-right: 5px;
}

h2 {
  font-family: 'Exo 2', sans-serif;
  font-size: 13pt;	
  border-bottom: 1px solid rgba(0,121,171,0.2);
  padding-bottom: 5px;
    padding-top: 5px;  
  text-transform: uppercase;  
  
  text-align: center;
    display: block;
line-height: 1.5;

	    border: 1px solid rgba(0,121,171,0.5);	
		    background-color:rgba(0,121,171,0.2);
		border-radius: 3px;
		padding-left: 5px;
		padding-right: 5px;
}

h3 {
  font-family: 'Exo 2', sans-serif;
  font-size: 12pt;	
  border-bottom: 1px solid rgba(0,121,171,0.2);
  padding-bottom: 5px;
    padding-top: 5px; 
  text-transform: uppercase;  

  text-align: center;
    display: block;
line-height: 1.5;

	    border: 1px solid rgba(0,121,171,0.5);	
		    background-color:rgba(0,121,171,0.2);
		border-radius: 3px;
		padding-left: 5px;
		padding-right: 5px;
		}

h4 {
  font-family: 'Exo 2', sans-serif;
  font-size: 12pt;	
  border-bottom: 1px solid rgba(0,121,171,0.2);
  padding-bottom: 5px;
    padding-top: 5px; 
  text-transform: uppercase;  

  text-align: center;
    display: block;
line-height: 1.5;

	    border: 1px solid rgba(0,121,171,0.5);	
		    background-color:rgba(0,121,171,0.2);
		border-radius: 3px;
		padding-left: 5px; 	
padding-right: 5px;		
}

* {
font-family: 'Exo 2', sans-serif; }


a {
color: rgb(0, 50, 93);
text-decoration: underline;
}	


table {
    width: 100%;
    border-collapse: collapse;
    font-size: 9pt;
    border: 1px solid rgba(0,121,171,0.5);
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    word-break: break-word;
	padding: 5px;
	border-radius: 3px;
}

td, th {
  border: 1px solid rgba(0,121,171,0.5);
  margin-top: 4pt;
  margin-bottom: 4pt;
  	padding: 8px;
		border-radius: 3px;
}

tr {
padding: 10px;
	border-radius: 3px;
}	

th {
    background-color:rgba(0,121,171,0.3);
    text-transform: uppercase;
    font-size: 10pt;
    text-align: center;
		border-radius: 3px;
  }

td {
    background-color:rgba(0,121,171,0.2);
		border-radius: 3px;
}	








article img{
	height: auto;
	margin-left: 23%;
	max-width: 50%;	
	margin-top: 20px;
	margin-bottom: 20px;
}











/*eudirective*/

.container-eu:before {
box-sizing: content-box;
content:"Welcome back, Mr. Fabio. I have selected for you the latest news:";
font-family: 'Slabo 27px', serif;
 font-style: italic;
 
background-color: rgba(0,121,171,0.1);
border: 1px solid rgba(0,121,171,0.2);
  font-size: 13pt;	
  text-align: justify;
    border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
margin: auto;  
  margin-top: 8px;
  margin-bottom: 10px; 
    display: block;
}

.wrapper:before {
box-sizing: content-box;
content:"";
height: 115px;
background-repeat:no-repeat;
background-image: url('img/future/website.gif');
  background-size: 230px;
  border-radius: 3px;
opacity: 0.7;  
background-color: rgba(0,121,171,0.1);
border: 1px solid rgba(0,121,171,0.2);
color: rgb(0, 50, 93);
  text-align: justify;
    border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
margin: auto;  
  margin-top: 8px;
  margin-bottom: 40px; 
    display: block;
}

.wrapper:last-of-type:after {
box-sizing: content-box;
content:"Did you enjoy your article, Mr. Fabio? I can show you more.";
font-family: 'Slabo 27px', serif;
 font-style: italic;
 
background-color: rgba(0,121,171,0.1);
border: 1px solid rgba(0,121,171,0.2);
  font-size: 14pt;	
  text-align: justify;
    border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
margin: auto;  
  margin-top: 40px;
  margin-bottom: 10px; 
    display: block;
}	
 
.container-eu:after {
box-sizing: content-box;
content:"";
height: 90px;
background-repeat:no-repeat;
background-image: url('img/future/light.gif');
  background-size: 230px;
  border-radius: 3px;
opacity: 0.7;  
background-color: rgba(0,121,171,0.1);
border: 1px solid rgba(0,121,171,0.2);
color: rgb(0, 50, 93);
  text-align: justify;
    border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
margin: auto;  
  margin-top: 20px;
  margin-bottom: 10px; 
    display: block;

}	


.container-eu {
 padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  box-sizing: border-box;
  overflow: auto;
  width: 278px;
  max-height: 532px;
  margin-left: 622px;
  margin-top: 100px;
  margin-bottom: 90px;
  display: inline-block;
  font-family: 'Exo 2', sans-serif;
  font-size: 11pt;
  letter-spacing: .06em;
  background-color: rgba(120, 200, 255, 0.1);
  border: 1px solid rgba(120, 200, 255, 0.2);
  color: black;
  border-radius: 15px;
  text-align: justify;
    -webkit-animation: breathing 7s ease-out infinite normal;
    animation: breathing 7s ease-out infinite normal;
}

.col-ing > div:first-of-type {
text-align: center;	
}

.col-ita > div:first-of-type {
text-align: center;	
}

.flex-container{
    width: 100%;
	max-width: 278px;
	margin-top:20px;
    margin: 0 auto;
    display: -webkit-flex; /* Safari */     
    display: flex; /* Standard syntax */
	}

.flex-container .col-ing{
	margin-top: 30px;
    -webkit-flex: 1; /* Safari */
    flex: 1; /* Standard syntax */
	margin-right:10px;
}


.flex-container .col-ita{
	margin-top: 30px;
   -webkit-flex: 1; /* Safari */
    flex: 1; /* Standard syntax */
	margin-left:10px;
}



/*	
.container-eu p {
				font-size: 18pt;
				border-right:none;
				margin-top: 20px;
				margin-left:20px;
				margin-right:20px;
}
*/



img {
  box-sizing: border-box;
  overflow: auto;
  }


  
  
@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }

  100% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97) rotate(-7deg);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1) rotate(-7deg);
  }

  60% {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97) rotate(-7deg);
  }

  100% {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97) rotate(-7deg);
  }
}


@keyframes bg-breathing {
  0% {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
}


/* width */
article::-webkit-scrollbar {
  width: 5px;
}

/* Track */
article::-webkit-scrollbar-track {
  background: rgba(120, 200, 255, 0.1); 
    box-shadow: inset 0 0 5px grey; 
  border-radius: 15px;
}
 
/* Handle */
article::-webkit-scrollbar-thumb {
  background: rgba(0,121,171,0.5); 
    border-radius: 15px;
}

/* Handle on hover */
article::-webkit-scrollbar-thumb:hover {
  background: rgba(0,50,93,0.9); 
}




/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(120, 200, 255, 0.1); 
    box-shadow: inset 0 0 5px grey; 
  border-radius: 15px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,121,171,0.4); 
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,50,93,0.9); 
}