@font-face {
    font-family: 'royliecthtenstein';
    src: url('font/popart/roy-lichtenstein/DupuyBALloon-Italic-Italic.ttf.svg') format('svg'),
	     url('font/popart/roy-lichtenstein/DupuyBALloon-Italic-Italic.ttf.woff') format('woff');
}

@font-face {
    font-family: 'badaboom';
    src: url('font/popart/badaboom/badabb__-webfont.woff2') format('woff2'),
	     url('font/popart/badaboom/badabb__-webfont.woff') format('woff');
}

@font-face {
    font-family: 'comix-loud';
    src: url('font/popart/comix-loud/comix_loud-webfont.woff') format('woff'),
	     url('font/popart/comix-loud/comix_loud-webfont.woff2') format('woff2');
}


@font-face {
  font-family: 'SequentialistBB';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_1_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'SequentialistBB';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}



body {
    background-image: url("img/popart/popart1.png");
}


* {
	font-family: 'royliecthtenstein';
	font-weight: normal;
    font-style: normal;
}

strong, a, em {
font-family: 'badaboom';
text-decoration: underline;
}

a {
color: #A3001F;
}

/*

section:nth-child(n+1) {
    font-size: 16pt;
      background: white;
	  padding: 5px;
	  padding-left: 20px;
	  padding-right:20px;
	  border-left: solid black;
	  border-right: solid black;
}


section:last-of-type {
    font-size: 16pt;
      background: white;
	  padding: 5px;
	  padding-left: 20px;
	  padding-right:20px;
	  border-left: solid black;
	  border-right: solid black;
	  border-bottom: solid 30px ;
}
*/

article { 
    margin: 10% 12% 10% 12%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 80px;
    font-weight: 100;
    text-align: justify;
    border: double 40px ; 
												font-size: 18pt;
      background: white;
  background-image:
    radial-gradient(#FFD3C1 23%, transparent 0), 
    radial-gradient(#FFD3C1 23%, transparent 0);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
    line-height: 1.7;
  }

h1, h2, h3, h4 {
font-family: 'badaboom';
  display: block;
}


/*
h1 {
min-width: 50px;
  max-width: 90%;
  border: 5px solid #fff;
  padding: 80px 0px;
  margin: 30px auto;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  position: relative;
  color: #000;
  background: #fff;
  border: black solid;
}
*/

h1 {
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 100% 100%;
  margin: 20 0;
  text-align: center;
  height: auto;
  box-sizing: content-box;
  line-height: 1;
  background: url(img/popart/electric.svg);
  width: auto;
  height: auto;
  padding-top: 8%;
  padding-bottom: 28%;
    padding-left: 5%;
	  padding-right: 5%;
											font-size: 60pt; 
}

h1:hover {
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 200% 200%;
  margin: auto;
  text-align: center;
  height: auto;
  box-sizing: content-box;
  line-height: 1;
  background: url(img/popart/electric.svg);
  width: auto;
  padding: 10% 14% 10% 14%;
												font-size: 80pt;	
}

h1:after {
content: "!!!"; }

h2:after {
content: " Sbam!";
}

h3:after {
content: "! $@*#&!";
}

section > p:nth-of-type(odd):after {
content: " *";
font-family:"comix-loud";
}

p:nth-of-type(1) {
margin-top: 20px;
}

h2 {
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 100% 100%;
  margin: 30 0;
  text-align: center;
  height: auto;
  box-sizing: content-box;
  line-height: 1;
  background: url(img/popart/bubble.svg);
  width: auto;
  height: auto;
  padding-top: 8%;
  padding-bottom: 21%;
    padding-left: 5%;
	  padding-right: 5%;
										font-size: 40pt;  
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: solid 20px ; 
  border-left: solid black;
  border-right: solid black;
  border-top: solid black;
										font-size: 25pt;
      background: white;
	  padding: 5px;
	  width: auto;
	  padding-left: 20px;
	  padding-right:20px;	  
}

h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: solid 10px ; 
  border-left: solid black;
  border-right: solid black;
  border-top: solid black;
										font-size: 21;
      background: white;
	  padding: 5px;
	  width: auto;
	  padding-left: 20px;
	  padding-right:20px;	  
}


figcaption {
    font-size: 13pt;
    margin-top: 10pt;
    -webkit-hyphens: auto;
            hyphens: auto;
	text-align: center;
	
	  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 100% 100%;
  margin: 0 auto;
  text-align: center;
  height: auto;
  box-sizing: content-box;
  line-height: 1;
  background: url(img/popart/bubble.svg);
  width: auto;
  padding-top: 6%;
  padding-bottom: 16%;
    padding-left: 16%;
	padding-right: 16%;
}


article img{
	height: auto;
	filter: saturate(900%);
	margin-left: 13%;
	max-width: 70%;	
	border: double 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14pt;
    border: 5px solid black;
    border-bottom: 35px solid black;	
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    word-break: break-word;
    font-family: badaboom;
	padding: 5px;
}

td, th {
  border: 1px solid black;
  margin-top: 4pt;
  margin-bottom: 4pt;
  	padding: 10px;
}

tr {
padding: 10px;
}	

th {
    background-color:black;
    font-family: badaboom;
    text-transform: uppercase;
    font-size: 18pt !important;
    color:white;
    text-align: center;
    letter-spacing: 3px;
  }
  
section > table > th:first-of-type:before {
content: "MEANWHILE... "	 
 }	 
 
  th:after {
content: "!"	 
 }	

tr:nth-of-type(odd) {
    color:black;
	
  background: #FFD3C1;
  background-image:
    radial-gradient(white 23%, transparent 0), 
    radial-gradient(white 23%, transparent 0);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
  }
  
tr:nth-of-type(even) {
    background-color:white;
    color:black;
  }

section:first-of-type > p:first-of-type:before {
    content:"POW! This is an AWESOME article in POP ART style! \A";
	font-family: badaboom;
   display: block;	
   font-size: 18pt;
   text-decoration: underline;
   padding: 20px;
  }
  






/*eudirective*/

.col-ing > div:first-of-type {
text-align: center;	
}

.col-ita > div:first-of-type {
text-align: center;	
}

.flex-container{
    width: 80%;
	margin-top:30px;
    margin: 0 auto;
    display: -webkit-flex; /* Safari */     
    display: flex; /* Standard syntax */
	}

.flex-container .col-ing{
	margin-top: 30px;
    -webkit-flex: 1; /* Safari */
    flex: 1; /* Standard syntax */
	margin-right:20px;
}


.flex-container .col-ita{
	margin-top: 30px;
   -webkit-flex: 1; /* Safari */
    flex: 1; /* Standard syntax */
	margin-left:20px;
}

.container-eu{
	margin: 50px;
		margin-bottom:70px;
		
		      background: white;
  background-image:
    radial-gradient(#FFD3C1 23%, transparent 0), 
    radial-gradient(#FFD3C1 23%, transparent 0);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
    line-height: 1.7;
		
		border: double 40px;
		text-align:justify;
		font-size: 18pt;
		margin-left:90px;
		margin-right:90px;
		 padding-top:20px;
		padding-left:0px;
		padding-right: 0px;
		height:auto;
		overflow: hidden;
}

	
.container-eu p {
				font-size: 18pt;
				border-right:none;
				margin-top: 20px;
				margin-left:20px;
				margin-right:20px;
}

.col-ing > table > th:first-of-type:before {
content: " "	 
 }	 

hr {
height:10px; 
border:none; 
color: black; 
background-color: black;
}	
/*
.container-eu a{ 
				color:black;
				font-size:18pt;
				}

.container-eu a:active {
	color: black;}

.container-eu a:visited {
	color: red;}


.container-eu span {
	border-top:solid;
	border-bottom: solid;
	font-family: English Gothic Bold Italic;
	text-align:center; 
	font-size:11.25pt;
	margin-left:10px;
	}

.container-eu h2{margin-top:20px;
	font-size:45pt;}
	
	

	@media screen and (max-width: 1000px) { .container-eu p { font-size: 5.25pt;

}}*/


/* width */
::-webkit-scrollbar {
  width: 17px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; 
    box-shadow: inset 0 0 5px wheat; 
  border-radius: 15px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
    border-radius: 15px;
	
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: salmon; 
}
