@font-face {
    font-family: 'royliecthtenstein';
    src: url('font/roy-lichtenstein/DupuyBALloon-Italic-Italic.ttf.svg') format('svg'),
	     url('font/roy-lichtenstein/DupuyBALloon-Italic-Italic.ttf.woff') format('woff');
}

@font-face {
    font-family: 'badaboom';
    src: url('font/badaboom/badabb__-webfont.woff2') format('svg'),
	     url('font/badaboom/badabb__-webfont.woff') format('woff');
}

@font-face {
    font-family: 'comix-loud';
    src: url('font/comix-loud/comix_loud-webfont.woff') format('woff'),
	     url('font/comix-loud/comix_loud-webfont.woff2') format('woff2');
}


@font-face {
  font-family: 'SequentialistBB';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_1_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'SequentialistBB';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}


strong {
font-family: 'badaboom';
text-decoration: underline;
}



section:nth-of-type(2) {
  border-top: solid 30px ; 
    font-size: 16pt;
      background: white;
	  padding: 5px;
	  padding-left: 20px;
	  padding-right:20px;
	  border-left: solid black;
	  border-right: solid black;
}

section:nth-child(n+2) {
    font-size: 16pt;
      background: white;
	  padding: 5px;
	  padding-left: 20px;
	  padding-right:20px;
	  border-left: solid black;
	  border-right: solid black;
}


section:last-of-type {
    font-size: 16pt;
      background: white;
	  padding: 5px;
	  padding-left: 20px;
	  padding-right:20px;
	  border-left: solid black;
	  border-right: solid black;
	  border-bottom: solid 30px ;
}

article { 
    margin: 10% 15% 10% 15%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 80px;
    font-weight: 100;
    text-align: justify;
    border: double 30px ; 
    font-size: 16pt;
      background: white;
  background-image:
    radial-gradient(#FFD3C1 23%, transparent 0), 
    radial-gradient(#FFD3C1 23%, transparent 0);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
  }

h1, h2, h3, h4 {
font-size: 28pt;
font-family: 'badaboom';
  display: block;
}

h2, h3 {
	font-size: 30pt;
}


/*
h2 {
min-width: 50px;
  max-width: 90%;
  border: 5px solid #fff;
  padding: 80px 0px;
  margin: 30px auto;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  position: relative;
  color: #000;
  background: #fff;
  border: black solid;
}
*/

h2 {
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 100% 100%;
  margin: auto;
  text-align: center;
  height: auto;
  box-sizing: content-box;
  line-height: 1;
  background: url(img/popart/electric.svg);
  width: auto;
  padding: 10% 10% 12% 10%;
}

h2:hover { 
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 200% 200%;
font-size: 70pt;
  margin: auto;
  text-align: center;
  height: auto;
  box-sizing: content-box;
  line-height: 1;
  background: url(img/popart/electric.svg);
  width: auto;
  padding: 10% 10% 12% 10%;
}

h2:after {
content: "!!!"; }

h3:after {
content: " Sbam!";
}


h4:after {
content: "! @#&!!";
}

p:nth-of-type(odd):after {
content: " *";
font-family:"comix-loud";
}

h4 {
  border-bottom: solid 30px ; 
  border-left: solid black;
  border-right: solid black;
  border-top: solid black;
    font-size: 24pt;
      background: white;
	  padding: 5px;
	  width: auto;
	  padding-left: 20px;
	  padding-right:20px;
}


h3 {
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 100% 100%;
  margin: 20 0;
  text-align: center;
  height: auto;
  box-sizing: content-box;
  line-height: 1;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/speech-bubble.svg);
  width: auto;
  height: auto;
  padding-top: 10%;
  padding-bottom: 20%;
}



h3 {
text-align:center;
}

h2 {
text-align:center;
    font-size: 45pt;
}

figcaption:nth-of-type(odd) {
    font-size: 10pt;
    margin-top: 10pt;
    -webkit-hyphens: auto;
            hyphens: auto;
	text-align: center;
	
	  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 100% 100%;
  margin: 0 auto;
  text-align: center;
  height: auto;
  box-sizing: content-box;
  line-height: 1;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/speech-bubble.svg);
  width: auto;
  padding-top: 6%;
  padding-bottom: 16%;
    padding-left: 16%;
	    padding-right: 16%;
}

figcaption:nth-of-type(even) {
    font-size: 10pt;
    margin-top: 10pt;
    -webkit-hyphens: auto;
            hyphens: auto;
	text-align: center;
	
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 100% 100%;
  margin: 0 auto;
  text-align: center;
  height: 0;
  box-sizing: content-box;
  line-height: 1;
   background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/electric.svg);
  width: auto;
  padding: 4% 6% 12% 0%;
}

/*background: linear-gradient(to bottom, red 950px,red 950px,red 950px, white 950px, white 100%);	*/

body {
    background-image: url("img/popart/popart1.png");
}

* {
	font-family: 'royliecthtenstein';
	font-weight: normal;
    font-style: normal;
}

article img{
	height: auto;
	filter: saturate(900%);
	margin-left: 13%;
	max-width: 70%;	
	border: double 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}



/*
.circular-sb {
  min-width: 50px;
  max-width: 90%;
  border: 5px solid #fff;
  padding: 80px 0px;
  margin: 30px auto;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  position: relative;
  color: #000;
  background: #fff;
}

.circle1 {
  border: 5px solid #fff;
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  right: -15px;
  bottom: 23px;
  background: #fff;  
}

.circle1:before {
  content: "";
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
  background: #fff;
}

.circle2 {
  border: 5px solid #fff;
  position: absolute;
  width: 5px;
  padding: 10px 15px;
  border-radius: 50%;
  right: -60px;
  bottom: 5px;
  background: #fff;
}


*****

.circular-other-side {
  min-width: 50px;
  max-width: 90%;
  border: 5px solid #fff;
  padding: 80px 0px;
  margin: 30px auto;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  position: relative;
  color: #000;
  background: #fff;
}

.circle1-other-side {
  border: 5px solid #fff;
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  left: -15px;
  bottom: 23px;
  background: #fff;  
}

.circle1-other-side:before {
  content: "";
  position: absolute;
  width: 25px;
  padding: 20px;
  border-radius: 50%;
  left: 0px;
  bottom: 0px;
  background: #fff;
}

.circle2-other-side {
  border: 5px solid #fff;
  position: absolute;
  width: 5px;
  padding: 10px 15px;
  border-radius: 50%;
  left: -60px;
  bottom: 5px;
  background: #fff;
}



<div class="circular-sb">
  I'm Circular speech bubbleeeeeeeeeeeee aajajkb a ajnaa 
  <div class="circle1"></div>
  <div class="circle2"></div>
</div>

<div class="circular-sb3">
  I'm Circular speech bubbleeeeeeeeeeeee aajajkb a ajnaa 
  <div class="circle13"></div>
  <div class="circle23"></div>
</div>

*/



/*
<section>
  <blockquote class="speech bubble">Did someone say <em>chimichangas?</em></blockquote>
</section>
<section>
  <blockquote class="whisper bubble">That’s the sound of my brain</blockquote>
</section>
<section>
  <blockquote class="electric bubble">Autobots,<span>Attack!</span></blockquote>
</section>



* {
  box-sizing: border-box;
}

body {
  font-family: SequentialistBB, cursive;
  font-size: 2.5vw;
  margin: 0;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

section {
  padding: 3rem;
}



blockquote.bubble {
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: 100% 100%;
  margin: 0 auto;
  text-align: center;
  height: 0;
  box-sizing: content-box;
  line-height: 1;
}

blockquote.speech {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/speech-bubble.svg);
  width: 25%;
  padding-top: 6%;
  padding-bottom: 20%;
}

blockquote.whisper {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/whisper.svg);
  width: 25%;
  font-size: 2vw;
  color: #ccc;
  font-style: italic;
  padding: 6% 5% 15%;
}

blockquote.electric {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/electric.svg);
  width: 25%;
  font-size: 2.4vw;
  font-style: italic;
  padding: 4% 6% 12% 0%;
}

blockquote.electric span {
  display: block;
  font-size: 3vw;
  font-weight: bold;
}
*/