.cta {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: fade-out($primary, 0.1);

    .cta-inner {
        position: relative;
        padding: 3rem;
        margin: 0.5rem;

        &:before {
            border-radius: 0.5rem;
            content: '';
            position: absolute;
            top: -0.5rem;
            bottom: -0.5rem;
            left: -0.5rem;
            right: -0.5rem;
            border: 0.25rem solid fade-out($white, 0.15);
            z-index: -1;
        }
    }
}
