doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Business Casual - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        h1.site-heading.text-center.text-white.d-none.d-lg-block
            span.site-heading-upper.text-primary.mb-3 A Free Bootstrap 4 Business Theme
            span.site-heading-lower Business Casual

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.py-lg-4
            .container
                a.navbar-brand.text-uppercase.text-expanded.font-weight-bold.d-lg-none(href='index.html') Start Bootstrap
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.mx-auto
                        li.nav-item.active.px-lg-4
                            a.nav-link.text-uppercase.text-expanded(href='index.html')
                                | Home
                                span.sr-only (current)
                        li.nav-item.px-lg-4
                            a.nav-link.text-uppercase.text-expanded(href='about.html') About
                        li.nav-item.px-lg-4
                            a.nav-link.text-uppercase.text-expanded(href='products.html') Products
                        li.nav-item.px-lg-4
                            a.nav-link.text-uppercase.text-expanded(href='store.html') Store

        section.page-section.clearfix
            .container
                .intro
                    img.intro-img.img-fluid.mb-3.mb-lg-0.rounded(src='assets/img/intro.jpg', alt='...')
                    .intro-text.left-0.text-center.bg-faded.p-5.rounded
                        h2.section-heading.mb-4
                            span.section-heading-upper Fresh Coffee
                            span.section-heading-lower Worth Drinking
                        p.mb-3
                            | Every cup of our quality artisan coffee starts with locally sourced, hand picked ingredients. Once you try it, our coffee will be a blissful addition to your everyday morning routine - we guarantee it!
                        .intro-button.mx-auto
                            a.btn.btn-primary.btn-xl(href='#!') Visit Us Today!

        section.page-section.cta
            .container
                .row
                    .col-xl-9.mx-auto
                        .cta-inner.text-center.rounded
                            h2.section-heading.mb-4
                                span.section-heading-upper Our Promise
                                span.section-heading-lower To You
                            p.mb-0
                                | When you walk into our shop to start your day, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients. If you are not satisfied, please let us know and we will do whatever we can to make things right!

        footer.footer.text-faded.text-center.py-5
            .container
                p.m-0.small Copyright © Your Website 2021

        // Bootstrap core JS
        script(src='https://code.jquery.com/jquery-3.5.1.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
