doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Business Casual - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        include includes/css

    body

        include includes/header

        include includes/navbar

        section.page-section.cta
            .container
                .row
                    .col-xl-9.mx-auto
                        .cta-inner.bg-faded.text-center.rounded
                            h2.section-heading.mb-5
                                span.section-heading-upper Come On In
                                span.section-heading-lower We're Open
                            ul.list-unstyled.list-hours.mb-5.text-left.mx-auto
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Sunday
                                    span.ms-auto Closed
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Monday
                                    span.ms-auto 7:00 AM to 8:00 PM
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Tuesday
                                    span.ms-auto 7:00 AM to 8:00 PM
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Wednesday
                                    span.ms-auto 7:00 AM to 8:00 PM
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Thursday
                                    span.ms-auto 7:00 AM to 8:00 PM
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Friday
                                    span.ms-auto 7:00 AM to 8:00 PM
                                li.list-unstyled-item.list-hours-item.d-flex
                                    | Saturday
                                    span.ms-auto 9:00 AM to 5:00 PM
                            p.address.mb-5
                                em
                                    strong 1116 Orchard Street
                                    br
                                    | Golden Valley, Minnesota
                            p.mb-0
                                small
                                    em Call Anytime
                                br
                                | (317) 585-8468

        section.page-section.about-heading
            .container
                img.img-fluid.rounded.about-heading-img.mb-3.mb-lg-0(src='assets/img/about.jpg', alt='...')
                .about-heading-content
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-faded.rounded.p-5
                                h2.section-heading.mb-4
                                    span.section-heading-upper Strong Coffee, Strong Roots
                                    span.section-heading-lower About Our Cafe
                                p
                                    | Founded in 1987 by the Hernandez brothers, our establishment has been serving up rich coffee sourced from artisan farmers in various regions of South and Central America. We are dedicated to travelling the world, finding the best coffee, and bringing back to you here in our cafe.
                                p.mb-0
                                    | We guarantee that you will fall in
                                    em lust
                                    | with our decadent blends the moment you walk inside until you finish your last sip. Join us for your daily routine, an outing with friends, or simply just to enjoy some alone time.

        include includes/footer

        include includes/scripts
