    html{
        height: 100%;
        width: 100%;
    }
    body{
        width: 100%;
        height: 100%;
        background: url(super-mario-background.png);
        background-repeat: repeat-x;
        background-position: center bottom;
        background-color: #6899f8;
    }

	@keyframes push {
		from {
			margin: 100%;
		}
		to {
			margin: 0;
		}
	}
	

* {
	font-family: 'super_plumber_brothersregular';
}
	
@font-face {
    font-family: 'super_plumber_brothersregular';
    src: url('https://github.com/backtothefuture2019/tttt/blob/master/nerdme/font/super-mario-font/super_plumber_brothers-webfont.woff2') format('woff2'),
         url('https://github.com/backtothefuture2019/tttt/blob/master/nerdme/font/super-mario-font/super_plumber_brothers-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}	

@font-face {
    font-family: 'super_mario_286regular';
    src: url('https://github.com/backtothefuture2019/tttt/blob/master/nerdme/font/super-mario-286/super_mario_286-webfont.woff2') format('woff2'),
         url('https://github.com/backtothefuture2019/tttt/blob/master/nerdme/font/super-mario-286/super_mario_286-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}